1. Buatlah sebuah Sistem REST API dengan menggunakan dua data di atas
2. Buatlah 1 tabel tambahan yang mendukung backend aplikasi kalian berdasar pada dua berkas di atas. (Silahkan masukkan 3 tabel tersebut dalam MySQL lokal dan berkreasi dengannya)
3. Beberapa berkas yang harus ada
a. models
b. router
4. Untuk berkas lain jika dirasa dibutuhkan silahkan tambahkan, misal schema, berkas utama (baik diberi nama main atau app), dll (konfigurasi .env sesuaikan dengan materi)
5. Setiap Tabel harus ada relasi dengan minimal satu tabel lainnya.
6. Gunakan ORM
7. Silahkan memilih menggunakan Flask atau FastAPI
8. Ada beberapa endpoint api yang harus ada
9. Bisa melihat semua barang
10. Bisa melihat barang dengan kata kunci (jika dicari buku, maka semua barang yang ada kata "buku" akan masuk pencarian)
11. Silahkan tambahkan endpoint lain sesuai kebutuhan
12. Aplikasikan penggunaan JWT, contohnya user hanya bisa melihat data transaksi user tersebut tapi tidak user lain (hanya contoh). product tidak perlu JWT (karena semua user bisa melihat semua product)
13. Dokumetasikan API kalian dengan Swagger
14. Semua tambahan dari ketentuan di atas akan menjadi nilai tambah
15. Jelaskan tentang aplikasi backend kalian pada readme.md

In [1]:
import pandas as pd

df_users = pd.read_csv('users.csv')

display(df_users)

     customer_id               name           city       state  postal
0              1        Claire Gute        Fremont    Nebraska   68025
1              2     Sean O'Donnell          Provo        Utah   84604
2              3    Brosina Hoffman         Keller       Texas   76248
3              4       Andrew Allen      Harlingen       Texas   78550
4              5       Irene Maddox         Kenner   Louisiana   70065
..           ...                ...            ...         ...     ...
404          405      Ionia McGrath     Plainfield  New Jersey    7060
405          406     Anemone Ratner  Mission Viejo  California   92691
406          407         Sung Chung        Abilene       Texas   79605
407          408    Ricardo Emerson        Jackson    Michigan   49201
408          409  Susan MacKendrick         Rogers    Arkansas   72756

[409 rows x 5 columns]

In [2]:
df_products = pd.read_csv('products.csv', sep=';', encoding='latin-1')
df_products.columns = ['product_id', 'product_name', 'category', 'sub_category']
display(df_products)

,product_id,product_name,category,sub_category
0,1,Bush Somerset Collection Bookcase,Furniture,Bookcases
1,2,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs
2,3,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels
3,4,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables
4,5,Eldon Fold 'N Roll Cart System,Office Supplies,Storage
...,...,...,...,...
1845,1846,RCA ViSYS 25425RE1 Corded phone,Technology,Phones
1846,1847,Cisco 8961 IP Phone Charcoal,Technology,Machines
1847,1848,"Eureka Hand Vacuum, Bagless",Office Supplies,Appliances
1848,1849,LG G2,Technology,Phones
1849,1850,Eldon Jumbo ProFile Portable File Boxes Graphi...,Office Supplies,Storage

In [3]:
import random
from datetime import datetime, timedelta

random.seed(7)

def random_tanggal():
    # Set the start and end dates
    start_date = datetime(2017, 1, 1)
    end_date = datetime(2022, 12, 17)
    # Generate a random date between the start and end dates
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    # Convert the random date to a string in the DD--MM-YYYY format
    formatted_date = random_date.strftime("%d-%m-%Y")
    return formatted_date

n = 1000 #banyaknya kolom

df_purchase = pd.DataFrame({'date':[random_tanggal() for i in range(n)],
                         'name':[random.choices(df_users['name'])[0] for i in range(n)], 
                         'product_name':[random.choices(df_products['product_name'])[0] for i in range(n)],
                         'quantity':[random.randint(1,25) for i in range(n)]
                        })
display(df_purchase)

,date,name,product_name,quantity
0,19-08-2020,Aimee Bixby,GBC DocuBind TL300 Electric Binding System,8
1,10-09-2018,Philip Fox,Super Decoflex Portable Personal File,1
2,06-06-2021,Patrick O'Donnell,Ibico Hi-Tech Manual Binding System,9
3,17-07-2017,Frank Olsen,Newell 341,1
4,24-10-2017,Jennifer Jackson,Bevis Round Conference Room Tables and Bases,9
...,...,...,...,...
995,16-02-2017,Magdelene Morse,"Recycled Desk Saver Line ""While You Were Out"" ...",21
996,02-09-2020,Bobby Trafton,Logitech G19 Programmable Gaming Keyboard,16
997,03-08-2021,Julia Dunbar,Xerox 1917,16
998,03-03-2021,Logan Haushalter,Xerox 1910,12
999,29-01-2019,Henia Zydlo,"Fellowes Twister Kit, Gray/Clear, 3/pkg",23

In [4]:
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DateTime, and_
from sqlalchemy.ext.declarative import declarative_base
from dotenv import dotenv_values
import urllib.parse

params = {'db':dotenv_values('TugasAkhir.env')}

db_user = params['db']['MYSQL_USERNAME']
db_password = urllib.parse.quote_plus(params['db']['MYSQL_PASSWORD'])
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

# Buat koneksi ke database MySQL
SQLALCHEMY_DATABASE_URL = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True, pool_pre_ping=True)

# Buat base class untuk ORM
Base = declarative_base()

try:
    # Buat tabel products
    class Products(Base):
        __tablename__ = 'products'
        product_id = Column(Integer, nullable=False)
        product_name = Column(String(50), primary_key=True)
        category = Column(String(50), nullable=False)
        sub_category = Column(String(50), nullable=False)
    
    # Buat tabel users
    class Users(Base):
        __tablename__ = 'users'
        customer_id = Column(Integer, nullable=False)
        name = Column(String(50), primary_key=True)
        city = Column(String(50), nullable=False)
        state = Column(String(50), nullable=False)
        postal = Column(Integer, nullable=False)

    # Buat tabel purchase
    class Purchase(Base):
        __tablename__ = 'purchase'
        name = Column(String(50), nullable=False, primary_key=True)
        date = Column(DateTime, nullable=False)
        product_name = Column(String(50), nullable=False, primary_key=True)
        quantity = Column(Integer, nullable=False)
    
    Base.metadata.create_all(engine)
except Exception as e:
    print(e)

2022-12-23 18:45:24,097 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-23 18:45:24,099 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 18:45:24,102 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-23 18:45:24,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 18:45:24,105 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-23 18:45:24,106 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 18:45:24,108 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 18:45:24,109 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 18:45:24,110 INFO sqlalchemy.engine.Engine [generated in 0.00139s] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 18:45:24,113 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 18:45:24,114 INFO sqlalchemy.engine.Engine [cached since 0.005144s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 18:45:24,117 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 18:45:24,118 INFO sqlalchemy.engine.Engine [cached since 0.00901s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 18:45:24,120 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
sudah_menambahkan_data_pada_sql = True # Jawab True atau False

if sudah_menambahkan_data_pada_sql:
    pass
else:
    # Insert data ke tabel products
    df_products.to_sql('products', engine, if_exists='replace', index=False)

    # Insert data ke tabel users
    df_users.to_sql('users', engine, if_exists='replace', index=False)

    # Insert data ke tabel purchase
    df_purchase.to_sql('purchase', engine, if_exists='replace', index=False)

2022-12-23 18:45:39,339 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 18:45:39,340 INFO sqlalchemy.engine.Engine [cached since 15.23s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 18:45:39,346 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 18:45:39,346 INFO sqlalchemy.engine.Engine [cached since 15.24s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 18:45:39,350 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 18:45:39,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 18:45:39,363 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `products`
2022-12-23 18:45:39,364 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 18:45:39,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 18:45:39,368 INFO sqlalchemy.engine.Engine
DROP TABLE products
2022-12-23 18:45:39,369 INFO sqlalchemy.engine.Engine [no key 0.00114s] {}

In [6]:
# Buat Session
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

In [7]:
result = session.query(Products.product_name).all()

nama_barang = 'usb'
sort_desc = 'false'

produk = [i[0] for i in result]
cari_barang = []
for i in produk:
    if nama_barang.lower() in i.lower():
         cari_barang.append(i)
            
if sort_desc==None:
    pass
elif sort_desc.lower() == 'true':
    cari_barang.sort(reverse=False)
elif sort_desc.lower() == 'false':
    cari_barang.sort(reverse=True)
cari_barang

2022-12-23 18:45:24,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 18:45:24,218 INFO sqlalchemy.engine.Engine SELECT products.product_name AS products_product_name
FROM products
2022-12-23 18:45:24,219 INFO sqlalchemy.engine.Engine [generated in 0.00168s] {}

[]

In [8]:
result = (session.query(sa.distinct(Users.name), 
                    Users.city, 
                    Users.state)
.order_by(Users.name.desc()))

hasil = []
for x, i in enumerate(result):
    hasil.append(f'{x+1}. {i[0]} {i[1]} {i[2]}')
hasil

2022-12-23 18:45:24,235 INFO sqlalchemy.engine.Engine SELECT DISTINCT users.name, users.city AS users_city, users.state AS users_state
FROM users ORDER BY users.name DESC
2022-12-23 18:45:24,236 INFO sqlalchemy.engine.Engine [generated in 0.00159s] {}

['1. Zuschuss Donatelli Taylor Michigan',
 '2. Zuschuss Carroll East Orange New Jersey',
 '3. Xylona Preis Detroit Michigan',
 '4. William Brown Pensacola Florida',
 '5. Vivian Mathis Costa Mesa California',
 '6. Vivek Sundaresam Jonesboro Arkansas',
 '7. Vivek Gonzalez Lowell Massachusetts',
 '8. Valerie Dominguez Rome New York',
 '9. Trudy Schmidt Watertown New York',
 '10. Trudy Glocke Broomfield Colorado',
 '11. Trudy Brown Murray Kentucky',
 '12. Troy Staebel Lake Charles Louisiana',
 '13. Troy Blackwell North Charleston South Carolina',
 '14. Tracy Zic Harlingen Texas',
 '15. Tracy Blumstein Lorain Ohio',
 '16. Tony Sayre Saint Charles Missouri',
 '17. Tony Molinari Highland Park Illinois',
 '18. Tom Prescott Utica New York',
 '19. Tom Boeckenhauer Pearland Texas',
 '20. Toby Swindell Arlington Virginia',
 '21. Toby Ritter Bullhead City Arizona',
 '22. Toby Gnade Austin Texas',
 '23. Toby Carlisle Lake Forest California',
 '24. Toby Braunhardt Jackson Michigan',
 '25. Tim Brockman Scottsdale Arizona',
 '26. Thomas Thornton Miramar Florida',
 '27. Theone Pippenger Encinitas California',
 '28. Thea Hendricks Deltona Florida',
 '29. Thais Sissman Hagerstown Maryland',
 '30. Ted Trevino Dallas Texas',
 '31. Ted Butterfield Redlands California',
 '32. Tamara Manning Hattiesburg Mississippi',
 '33. Tamara Dahlen Chester Pennsylvania',
 '34. Susan Vittorini Omaha Nebraska',
 '35. Susan Pistek Westminster California',
 '36. Susan MacKendrick Rogers Arkansas',
 '37. Sung Shariari Margate Florida',
 '38. Sung Chung Abilene Texas',
 '39. Sue Ann Reed Plantation Florida',
 '40. Stuart Calhoun Frisco Texas',
 '41. Stewart Visinsky New Rochelle New York',
 '42. Steven Cartwright Saint Louis Missouri',
 '43. Speros Goranitis Yonkers New York',
 '44. Sonia Sunley Pasadena California',
 '45. Sonia Cooley Coppell Texas',
 '46. Shui Tom Greeley Colorado',
 '47. Shirley Jackson Visalia California',
 '48. Sheri Gordon Bolingbrook Illinois',
 '49. Shaun Weien Apopka Florida',
 '50. Shahid Shariari Miami Florida',
 '51. Shahid Hopkins Pasadena California',
 '52. Shahid Collister Stockton California',
 '53. Seth Vernon Pine Bluff Arkansas',
 "54. Sean O'Donnell Provo Utah",
 '55. Sean Christensen Lancaster California',
 '56. Scott Williamson Spokane Washington',
 '57. Scot Wooten Monroe Louisiana',
 '58. Sarah Jordon Marlborough Massachusetts',
 '59. Sarah Foster Cedar Rapids Iowa',
 '60. Sarah Brown Woonsocket Rhode Island',
 '61. Sarah Bern Clovis New Mexico',
 '62. Sanjit Engle Midland Michigan',
 '63. Sanjit Chand Romeoville Illinois',
 '64. Sandra Glassco Monroe Louisiana',
 '65. Sandra Flanagan New Rochelle New York',
 '66. Sam Craven Norman Oklahoma',
 '67. Sally Matthias Lowell Massachusetts',
 '68. Sally Knutson Pensacola Florida',
 '69. Ryan Crowe Harrisonburg Virginia',
 '70. Ryan Akin Woonsocket Rhode Island',
 "71. Russell D'Ascenzo Athens Georgia",
 '72. Russell Applegate Gresham Oregon',
 '73. Ruben Dartt Eagan Minnesota',
 '74. Roy Französisch Franklin Massachusetts',
 '75. Roy Collins Little Rock Arkansas',
 "76. Rose O'Brian Broomfield Colorado",
 '77. Roland Murray Laredo Texas',
 '78. Roland Fjeld Marlborough Massachusetts',
 '79. Roger Demir Sandy Springs Georgia',
 '80. Robert Waldorf Buffalo Grove Illinois',
 '81. Rob Lucas Beaumont Texas',
 '82. Rob Haberlin Ormond Beach Florida',
 '83. Rob Dowd Rochester Hills Michigan',
 '84. Rob Beeghly Albuquerque New Mexico',
 '85. Ritsa Hightower Chicago Illinois',
 '86. Rick Hansen Margate Florida',
 '87. Rick Duston Alexandria Virginia',
 '88. Richard Eichhorn Fairfield Connecticut',
 '89. Richard Bierner Grand Prairie Texas',
 '90. Ricardo Emerson Jackson Michigan',
 '91. Resi Pölking Littleton Colorado',
 '92. Raymond Messe Denver Colorado',
 '93. Raymond Buch Coon Rapids Minnesota',
 '94. Randy Bradley Carol Stream Illinois',
 '95. Ralph Ritter Warner Robins Georgia',
 '96. Ralph Kennedy Bethlehem Pennsylvania',
 '97. Ralph Arnett Tigard Oregon',
 '98. Pierre Wener Nashville Tennessee',
 '99. Phillip Flathmann Quincy Illinois',
 '100. Philip Fox Miramar Florida',
 '101. Philip Brown Greenville North Carolina',
 '102. Peter Fuller Hampton Virginia',
 '103. Peter Bühler Troy New York',
 '104. Pete Takahito Marlborough Massachusetts',
 '105. Pete Kriz Santa Ana California',
 '106. Pauline Johnson Montgomery Alabama',
 '107. Paul MacIntyre Chandler Arizona',
 '108. Paul Gonzalez Lancaster California',
 '109. Patrick Ryan Denver Colorado',
 "110. Patrick O'Donnell Bloomington Illinois",
 "111. Patrick O'Brill Pensacola Florida",
 '112. Patrick Gardner Encinitas California',
 '113. Pamela Stobb Tempe Arizona',
 '114. Olvera Toch Smyrna Tennessee',
 '115. Nora Preis Vineland New Jersey',
 '116. Nora Paige Redondo Beach California',
 '117. Nick Radford New Bedford Massachusetts',
 '118. Neoma Murray Jonesboro Arkansas',
 '119. Neola Schneider Passaic New Jersey',
 '120. Nathan Gelder San Antonio Texas',
 '121. Nathan Cano Tyler Texas',
 '122. Natalie Webber Trenton Michigan',
 '123. Natalie Fritzler Charlotte North Carolina',
 '124. Natalie DeCherney Akron Ohio',
 '125. Nat Carroll Arlington Heights Illinois',
 '126. Naresj Patel Highland Park Illinois',
 '127. Muhammed Lee Coral Springs Florida',
 '128. Mitch Webber Milford Connecticut',
 '129. Mike Vittorini Lake Charles Louisiana',
 '130. Mike Kennedy Las Cruces New Mexico',
 '131. Mike Gockenbach Texas City Texas',
 '132. Mick Crebagga Abilene Texas',
 '133. Mick Brown Cedar Hill Texas',
 '134. Michelle Moray Allen Texas',
 '135. Michelle Huthwaite Belleville New Jersey',
 '136. Michael Oakman Tallahassee Florida',
 '137. Michael Nguyen Rock Hill South Carolina',
 '138. Michael Moore Sandy Springs Georgia',
 '139. Michael Chen Portland Oregon',
 '140. Melanie Seite Phoenix Arizona',
 '141. Meg Tillman Longmont Colorado',
 '142. Maxwell Schwartz Lubbock Texas',
 '143. Max Jones Commerce City Colorado',
 '144. Max Engle Fresno California',
 '145. Maurice Satty Kirkwood Missouri',
 '146. Maureen Gnade Layton Utah',
 '147. Matt Collins Chesapeake Virginia',
 '148. MaryBeth Skach Rancho Cucamonga California',
 "149. Mary O'Rourke Pueblo Colorado",
 '150. Mark Van Huff Sierra Vista Arizona',
 '151. Mark Hamilton Jacksonville Florida',
 '152. Maris LaWare Camarillo California',
 '153. Maribeth Schnelling Fort Lauderdale Florida',
 '154. Maribeth Dona Belleville New Jersey',
 '155. Maria Bertelson Hempstead New York',
 '156. Marc Crier Evanston Illinois',
 '157. Magdelene Morse Fort Worth Texas',
 '158. Lynn Smith El Paso Texas',
 '159. Lycoris Saunders Clifton New Jersey',
 '160. Luke Weiss Harlingen Texas',
 '161. Luke Foster Coon Rapids Minnesota',
 '162. Logan Haushalter Medina Ohio',
 '163. Logan Currie Sacramento California',
 '164. Liz Willingham Waukesha Wisconsin',
 '165. Liz Thompson Chesapeake Virginia',
 '166. Liz Preis Plantation Florida',
 '167. Liz Pelletier North Charleston South Carolina',
 '168. Liz MacKendrick Irving Texas',
 '169. Liz Carlisle Austin Texas',
 '170. Lisa Hazard Mount Vernon New York',
 '171. Lisa DeCherney Indianapolis Indiana',
 '172. Lena Radford Nashua New Hampshire',
 '173. Lena Hernandez Atlanta Georgia',
 '174. Lena Creighton Columbus Ohio',
 '175. Lena Cacioppo Cleveland Ohio',
 '176. Lauren Leatherbury Concord North Carolina',
 '177. Laurel Elliston Ormond Beach Florida',
 '178. Larry Tron Austin Texas',
 '179. Larry Hughes Layton Utah',
 '180. Larry Blacks Oklahoma City Oklahoma',
 '181. Kunst Miller Philadelphia Pennsylvania',
 '182. Khloe Miller Carlsbad New Mexico',
 '183. Ken Lonsdale Hendersonville Tennessee',
 '184. Kelly Williams Indianapolis Indiana',
 '185. Kelly Collister Delray Beach Florida',
 '186. Kelly Andreada Commerce City Colorado',
 '187. Keith Herrera Chico California',
 '188. Kean Thornton Everett Massachusetts',
 '189. Kean Takahito North Miami Florida',
 '190. Katrina Willman Parma Ohio',
 '191. Katherine Hughes Florence Kentucky',
 '192. Katherine Ducich Deltona Florida',
 '193. Karl Braun Florence Kentucky',
 '194. Karen Daniels Park Ridge Illinois',
 '195. Justin MacKendrick Lorain Ohio',
 '196. Justin Hirsh Denver Colorado',
 '197. Juliana Krohn Rome New York',
 '198. Julia West Johnson City Tennessee',
 '199. Julia Dunbar Kissimmee Florida',
 '200. Joy Smith Bowling Green Ohio',
 '201. Joy Daniels Freeport New York',
 '202. Joy Bell- Kent Washington',
 '203. Joseph Holt Tempe Arizona',
 '204. Joseph Airdo Goldsboro North Carolina',
 '205. Joni Wasserman Providence Rhode Island',
 '206. Joni Blumstein North Charleston South Carolina',
 '207. Jonathan Howell Camarillo California',
 '208. John Stevenson Longview Washington',
 '209. John Murray Homestead Florida',
 '210. John Lucas Naperville Illinois',
 '211. John Lee Plano Texas',
 '212. John Huston Glendale Arizona',
 '213. John Dryer Cottage Grove Minnesota',
 '214. John Castell Lowell Massachusetts',
 '215. Joel Eaton Troy New York',
 '216. Joe Kamberova San Angelo Texas',
 '217. Joe Elijah Wilmington Delaware',
 '218. Jocasta Rupert New Rochelle New York',
 '219. Jim Radford Charlotte North Carolina',
 '220. Jim Karlsson Fargo North Dakota',
 '221. Jill Matthias East Orange New Jersey',
 '222. Jill Fjeld Bowling Green Ohio',
 '223. Jessica Myrick Margate Florida',
 '224. Jeremy Pistek Troy New York',
 '225. Jeremy Lonsdale Lakeville Minnesota',
 '226. Jeremy Farry Kenner Louisiana',
 '227. Jeremy Ellison Edmonds Washington',
 '228. Jennifer Jackson College Station Texas',
 '229. Jennifer Halladay Midland Michigan',
 '230. Jennifer Ferguson Murrieta California',
 '231. Jenna Caffey Passaic New Jersey',
 '232. Jay Kimmel Newport News Virginia',
 '233. Jay Fein Tigard Oregon',
 '234. Jasper Cacioppo Renton Washington',
 '235. Jason Fortune- Cottage Grove Minnesota',
 "236. Jas O'Carroll Owensboro Kentucky",
 '237. Janet Martin Mount Vernon New York',
 '238. Janet Lee Kent Washington',
 '239. Jamie Kunitz Lebanon Tennessee',
 '240. Jamie Frazer Holland Michigan',
 '241. James Galang Chandler Arizona',
 '242. Jack Lebron Cedar Rapids Iowa',
 '243. Jack Garza Bowling Green Ohio',
 '244. Ivan Liston La Porte Indiana',
 '245. Ivan Gibson Orlando Florida',
 '246. Irene Maddox Kenner Louisiana',
 '247. Ionia McGrath Plainfield New Jersey',
 '248. Hunter Lopez Fairfield Connecticut',
 '249. Hunter Glantz Fort Worth Texas',
 '250. Herbert Flentye Nashua New Hampshire',
 '251. Henry MacAllister Waco Texas',
 '252. Henia Zydlo Lakeville Minnesota',
 '253. Helen Andreada Buffalo New York',
 '254. Helen Abelman Waco Texas',
 '255. Harry Greene Avondale Arizona',
 '256. Guy Thornton Hickory North Carolina',
 '257. Guy Armstrong Suffolk Virginia',
 '258. Greg Tran Reading Pennsylvania',
 '259. Greg Matthias Knoxville Tennessee',
 '260. Greg Hansen Mesa Arizona',
 '261. Giulietta Weimer Redlands California',
 '262. Giulietta Baptist Dubuque Iowa',
 '263. George Ashbrook Houston Texas',
 '264. Gene McClure Dearborn Heights Michigan',
 '265. Gary Zandusky Denver Colorado',
 '266. Gary McGarr Hialeah Florida',
 '267. Gary Hwang Rockville Maryland',
 '268. Fred McMath Atlanta Georgia',
 '269. Fred Harton Boynton Beach Florida',
 '270. Frank Preis Bloomington Illinois',
 '271. Frank Olsen Waterloo Iowa',
 '272. Evan Henry Cedar Hill Texas',
 '273. Evan Bailliet Parma Ohio',
 '274. Eva Jacobs Lake Forest California',
 '275. Eugene Barchas Hot Springs Arkansas',
 '276. Erin Mull Apopka Florida',
 '277. Erin Creighton Dallas Texas',
 '278. Erica Smith Huntington Beach California',
 '279. Erica Hackney Deltona Florida',
 '280. Eric Murdock Hamilton Ohio',
 '281. Eric Hoffmann Santa Barbara California',
 '282. Eric Barreto Portland Oregon',
 '283. Emily Phan Waynesboro Virginia',
 '284. Emily Grady Naperville Illinois',
 '285. Emily Burns Oswego Illinois',
 '286. Edward Nazzal Boca Raton Florida',
 '287. Ed Jacobs Royal Oak Michigan',
 '288. Duane Noonan Austin Texas',
 '289. Duane Benoit Rochester Hills Michigan',
 "290. Doug O'Connell Logan Utah",
 '291. Doug Jacobs San Angelo Texas',
 '292. Doug Bickford Sterling Heights Michigan',
 '293. Dorothy Dickinson Kent Washington',
 '294. Don Weiss Rock Hill South Carolina',
 '295. Dianna Vittorini Commerce City Colorado',
 '296. Denny Ordway Frisco Texas',
 '297. Denny Blanton Escondido California',
 '298. Dennis Kane Beaumont Texas',
 '299. Denise Leinenbach Denver Colorado',
 '300. Delfina Latchford Boise Idaho',
 '301. Debra Catini Wausau Wisconsin',
 '302. Dean Braden Buffalo Grove Illinois',
 '303. David Philippe Sparks Nevada',
 '304. David Flashing Atlanta Georgia',
 '305. Dave Kipp Roseville California',
 '306. Dave Brooks Columbia South Carolina',
 '307. Darrin Martin Medina Ohio',
 '308. Darren Powers Moreno Valley California',
 '309. Darren Koutras Farmington New Mexico',
 '310. Daniel Lacy Waco Texas',
 '311. Dana Kaydos Kirkwood Missouri',
 '312. Dan Lawera Pembroke Pines Florida',
 '313. Dan Campbell Hendersonville Tennessee',
 '314. Cynthia Arntzen Chattanooga Tennessee',
 '315. Craig Reiter Kenosha Wisconsin',
 '316. Craig Carroll Little Rock Arkansas',
 '317. Craig Carreira Vacaville California',
 '318. Corey-Lock Plano Texas',
 '319. Clytie Kelty Marietta Georgia',
 '320. Clay Ludtke Madison Wisconsin',
 '321. Clay Cheatham North Charleston South Carolina',
 '322. Claire Gute Fremont Nebraska',
 '323. Cindy Stewart Albuquerque New Mexico',
 '324. Cindy Chapman Arlington Heights Illinois',
 '325. Chuck Sachs Sioux Falls South Dakota',
 '326. Chuck Magee Cottage Grove Minnesota',
 '327. Christy Brittain Frisco Texas',
 '328. Christopher Martinez Marion Ohio',
 '329. Christopher Conant Kirkwood Missouri',
 '330. Christine Sundaresam Jackson Michigan',
 '331. Christina VanderZanden Waukesha Wisconsin',
 '332. Christina DeMoss Greenville North Carolina',
 '333. Christina Anderson Austin Texas',
 '334. Chris McAfee Roseville California',
 '335. Chris Cortes Commerce City Colorado',
 '336. Chloris Kastensmidt Kenosha Wisconsin',
 '337. Charlotte Melton Roswell Georgia',
 '338. Charles McCrossin Franklin Massachusetts',
 '339. Charles Crestani San Francisco California',
 '340. Chad Sievert Denver Colorado',
 '341. Chad McGuire Greenville North Carolina',
 '342. Cassandra Brandow Kirkwood Missouri',
 '343. Caroline Jumper Cottage Grove Minnesota',
 '344. Carol Triggs Atlanta Georgia',
 '345. Carol Darley Chandler Arizona',
 '346. Carlos Soltero Frisco Texas',
 '347. Carlos Meador Salt Lake City Utah',
 '348. Carlos Daly Beaumont Texas',
 '349. Carl Ludwig Marlborough Massachusetts',
 '350. Cari Schnelling Highland Park Illinois',
 '351. Bryan Mills Mission Viejo California',
 '352. Bryan Davis Fargo North Dakota',
 '353. Bruce Stewart Kenosha Wisconsin',
 '354. Bruce Geld Lakewood New Jersey',
 '355. Bruce Degenhardt West Palm Beach Florida',
 '356. Brosina Hoffman Keller Texas',
 '357. Brian Thompson Palm Coast Florida',
 '358. Brian Stugart Alexandria Virginia',
 '359. Brian Derr Redmond Oregon',
 '360. Brian DeCherney Andover Massachusetts',
 '361. Brian Dahlen Charlotte North Carolina',
 '362. Bradley Nguyen Englewood Colorado',
 '363. Bradley Drucker Taylor Michigan',
 '364. Bobby Trafton Madison Wisconsin',
 '365. Bobby Odegard Stockton California',
 '366. Bobby Elias Brownsville Texas',
 '367. Bill Donatelli Hialeah Florida',
 '368. Beth Paige Garden City Kansas',
 '369. Berenike Kampe Virginia Beach Virginia',
 '370. Benjamin Patterson Stockton California',
 '371. Ben Wallace Decatur Illinois',
 '372. Becky Pak Inglewood California',
 '373. Becky Martin Freeport New York',
 '374. Bart Folk Palm Coast Florida',
 '375. Barry Weirich Fayetteville Arkansas',
 '376. Barry Gonzalez Fort Collins Colorado',
 '377. Astrea Jones Mcallen Texas',
 '378. Ashley Jarboe Chandler Arizona',
 '379. Arthur Prichep Lancaster California',
 '380. Arthur Gainer Alexandria Virginia',
 '381. Art Foster Washington District of Columbia',
 '382. Art Ferguson Paterson New Jersey',
 '383. Arianne Irving Sandy Springs Georgia',
 '384. Anthony Witt Provo Utah',
 '385. Annie Zypern Temecula California',
 '386. Annie Thurman Hempstead New York',
 '387. Anne McFarland Miramar Florida',
 '388. Anna Gayman Port Saint Lucie Florida',
 '389. Anna Chung San Mateo California',
 '390. Anna Andreadi Ontario California',
 '391. Angele Hood New Castle Indiana',
 '392. Anemone Ratner Mission Viejo California',
 '393. Andy Reiter Henderson Kentucky',
 '394. Andrew Roberts Virginia Beach Virginia',
 '395. Andrew Allen Harlingen Texas',
 '396. Amy Hunt Cleveland Ohio',
 '397. Amy Cox Royal Oak Michigan',
 '398. Allen Goldenen Bloomington Illinois',
 '399. Allen Armold Hot Springs Arkansas',
 '400. Alex Grayson Milwaukee Wisconsin',
 '401. Alex Avila Evanston Illinois',
 '402. Alejandro Grove Pharr Texas',
 '403. Alan Shonely Medford Oregon',
 '404. Alan Hwang North Charleston South Carolina',
 '405. Alan Barnes Hagerstown Maryland',
 '406. Aimee Bixby Evanston Illinois',
 '407. Adrian Barton Everett Massachusetts',
 '408. Adam Shillingsburg Rockford Illinois',
 '409. Aaron Bergman Gilbert Arizona']

In [9]:
n = 25

result = (
session.query(Purchase.name, 
              sa.func.group_concat(Purchase.product_name, separator=", ").label("product_name"), 
              sa.func.sum(Purchase.quantity).label("quantity"))
    .group_by(Purchase.name)
    .order_by(sa.func.sum(Purchase.quantity).desc())
    .limit(n)
    )

hasil = []
for i in result:
    kucing = {}
    kucing['name'] = i[0]
    kucing['product_name'] = i[1].split(',')
    kucing['quantity'] = i[2]
    hasil.append(kucing)
    
hasil

2022-12-23 18:45:24,305 INFO sqlalchemy.engine.Engine SELECT purchase.name AS purchase_name, group_concat(purchase.product_name) AS product_name, sum(purchase.quantity) AS quantity
FROM purchase GROUP BY purchase.name ORDER BY sum(purchase.quantity) DESC
 LIMIT %(param_1)s
2022-12-23 18:45:24,306 INFO sqlalchemy.engine.Engine [generated in 0.00221s] {'param_1': 25}

[{'name': 'Debra Catini',
  'product_name': ['Kensington Expert Mouse Optical USB Trackball for PC or Mac',
   'Avery 492',
   'GBC Poly Designer Binding Covers',
   'netTALK DUO VoIP Telephone Service',
   'Aastra 6757i CT Wireless VoIP phone',
   'Boston 16750 Black Compact Battery Pencil Sharpener'],
  'quantity': Decimal('107')},
 {'name': 'Craig Carreira',
  'product_name': ['Jackery Bar Premium Fast-charging Portable Charger',
   'Chromcraft Rectangular Conference Tables',
   'Hon Every-Day Series Multi-Task Chairs',
   'Global Low Back Tilter Chair',
   'Eldon Image Series Desk Accessories',
   ' Ebony',
   'Acco Economy Flexible Poly Round Ring Binder'],
  'quantity': Decimal('100')},
 {'name': 'Greg Matthias',
  'product_name': ['Office Star - Task Chair with Contemporary Loop Arms',
   'Economy #2 Pencils',
   'Avery 52',
   'Avery 476',
   'Novimex High-Tech Fabric Mesh Task Chair',
   'SanDisk Cruzer 4 GB USB Flash Drive'],
  'quantity': Decimal('100')},
 {'name': 'Chad McGuire',
  'product_name': ['Holmes 99% HEPA Air Purifier',
   'Eldon 300 Class Desk Accessories',
   ' Black',
   'Martin Yale Chadless Opener Electric Letter Opener',
   'SAFCO Commercial Wire Shelving',
   ' 72h',
   'KI Conference Tables',
   'Cisco SPA 501G IP Phone'],
  'quantity': Decimal('100')},
 {'name': 'Giulietta Weimer',
  'product_name': ['Binder Clips by OIC',
   'Kensington SlimBlade Notebook Wireless Mouse with Nano Receiver ',
   'Maxell 4.7GB DVD-RW 3/Pack',
   'Plantronics Calisto P620-M USB Wireless Speakerphone System',
   'Canon PC1080F Personal Copier',
   '1/4 Fold Party Design Invitations & White Envelopes',
   ' 24 8-1/2" X 11" Cards',
   ' 25 Env./Pack',
   'Howard Miller 16" Diameter Gallery Wall Clock',
   'Xerox 1965'],
  'quantity': Decimal('100')},
 {'name': 'Sung Chung',
  'product_name': ['Aluminum Document Frame',
   'Avery 479',
   'Global Adaptabilities Conference Tables',
   'Rogers Profile Extra Capacity Storage Tub',
   'Avery Printable Repositionable Plastic Tabs',
   'Xerox 1892'],
  'quantity': Decimal('98')},
 {'name': 'Joseph Airdo',
  'product_name': ['Deflect-o DuraMat Antistatic Studded Beveled Mat for Medium Pile Carpeting',
   'Kingston Digital DataTraveler 64GB USB 2.0',
   'Iceberg Mobile Mega Data/Printer Cart ',
   'GBC Recycled VeloBinder Covers',
   'Canvas Sectional Post Binders'],
  'quantity': Decimal('91')},
 {'name': 'Jim Karlsson',
  'product_name': ['Adams Telephone Message Books',
   ' 5 1/4\x94 x 11\x94',
   'Hewlett Packard 310 Color Digital Copier',
   'BPI Conference Tables',
   'Avery 512',
   "O'Sullivan 3-Shelf Heavy-Duty Bookcases",
   'Global Troy Executive Leather Low-Back Tilter'],
  'quantity': Decimal('90')},
 {'name': 'Henia Zydlo',
  'product_name': ['Jabra SPEAK 410',
   'Fellowes Twister Kit',
   ' Gray/Clear',
   ' 3/pkg',
   'Hon 2111 Invitation Series Straight Table',
   'Avery 483',
   'Xerox 1979',
   'Wilson Jones Impact Binders'],
  'quantity': Decimal('89')},
 {'name': 'Ivan Gibson',
  'product_name': ['GBC DocuBind TL300 Electric Binding System',
   'Panasonic Kx-TS550',
   'Multicolor Computer Printout Paper',
   'StarTech.com 10/100 VDSL2 Ethernet Extender Kit',
   'Avery 494'],
  'quantity': Decimal('89')},
 {'name': 'Greg Hansen',
  'product_name': ['Okidata B401 Printer',
   'Safco Chair Connectors',
   ' 6/Carton',
   'Stacking Tray',
   ' Side-Loading',
   ' Legal',
   ' Smoke',
   'Panasonic Business\xa0Telephones\xa0KX-T7736',
   'Staple-based wall hangings',
   'Acme Galleria Hot Forged Steel Scissors with Colored Handles'],
  'quantity': Decimal('88')},
 {'name': 'Arthur Prichep',
  'product_name': ['Adams Telephone Message Book W/Dividers/Space For Phone Numbers',
   ' 5 1/4"X8 1/2"',
   ' 300/Messages',
   'SpineVue Locking Slant-D Ring Binders by Cardinal',
   'Holmes Harmony HEPA Air Purifier for 17 x 20 Room',
   'Avery 490',
   'Avery 513'],
  'quantity': Decimal('88')},
 {'name': 'Pauline Johnson',
  'product_name': ['Global Comet Stacking Armless Chair',
   'Xblue XB-1670-86 X16 Small\xa0Office Telephone\xa0- Titanium',
   'Xerox 1886',
   'NeatDesk Desktop Scanner & Digital Filing System',
   'Tripp Lite Isotel 6 Outlet Surge Protector with Fax/Modem Protection',
   'Howard Miller 11-1/2" Diameter Ridgewood Wall Clock'],
  'quantity': Decimal('85')},
 {'name': 'Astrea Jones',
  'product_name': ['Avery 492',
   'Gould Plastics 18-Pocket Panel Bin',
   ' 34w x 5-1/4d x 20-1/2h',
   'GBC ProClick Punch Binding System',
   '24 Capacity Maxi Data Binder Racks',
   ' Pearl'],
  'quantity': Decimal('84')},
 {'name': 'Peter Fuller',
  'product_name': ['Xerox 21',
   'Nokia Lumia 1020',
   'Electrix Fluorescent Magnifier Lamps & Weighted Base',
   'Cisco SPA525G2 IP Phone - Wireless',
   'Acco Pressboard Covers with Storage Hooks',
   ' 14 7/8" x 11"',
   ' Dark Blue'],
  'quantity': Decimal('83')},
 {'name': 'Rob Haberlin',
  'product_name': ['Tensor "Hersey Kiss" Styled Floor Lamp',
   'SAFCO Folding Chair Trolley',
   'Message Book',
   ' Phone',
   ' Wirebound Standard Line Memo',
   ' 2 3/4" X 5"',
   'Imation Bio 8GB USB\xa0Flash Drive Imation\xa0Corp',
   'Eldon Cleatmat Chair Mats for Medium Pile Carpets'],
  'quantity': Decimal('83')},
 {'name': 'Paul Gonzalez',
  'product_name': ['Premier Elliptical Ring Binder',
   ' Black',
   'Xerox 1978',
   'Weyerhaeuser First Choice Laser/Copy Paper (20Lb. and 88 Bright)',
   'Adjustable Depth Letter/Legal Cart',
   'Stur-D-Stor Shelving',
   ' Vertical 5-Shelf: 72"H x 36"W x 18 1/2"D'],
  'quantity': Decimal('82')},
 {'name': 'Barry Weirich',
  'product_name': ['Pressboard Hanging Data Binders for Unburst Sheets',
   'Pressboard Hanging Data Binders for Unburst Sheets',
   'GBC Standard Therm-A-Bind Covers',
   'Wilson Jones \x93Snap\x94 Scratch Pad Binder Tool for Ring Binders'],
  'quantity': Decimal('81')},
 {'name': 'Sarah Foster',
  'product_name': ['Hunt BOSTON Vista Battery-Operated Pencil Sharpener',
   ' Black',
   'Adams Phone Message Book',
   ' Professional',
   ' 400 Message Capacity',
   ' 5 3/6\x94 x 11\x94',
   'Eldon Jumbo ProFile Portable File Boxes Graphite/Black',
   'Xerox 1970',
   'Message Book',
   ' Standard Line "While You Were Out"',
   ' 5 1/2" X 4"',
   ' 200 Sets/Book',
   'Maxell DVD-RAM Discs'],
  'quantity': Decimal('81')},
 {'name': 'Michael Moore',
  'product_name': ['Acme Forged Steel Scissors with Black Enamel Handles',
   'Canon PC1060 Personal Laser Copier',
   'Plastic Binding Combs',
   'Chromcraft Bull-Nose Wood 48" x 96" Rectangular Conference Tables'],
  'quantity': Decimal('81')},
 {'name': 'Larry Hughes',
  'product_name': ['Mediabridge Sport Armband iPhone 5s',
   'Xerox 1978',
   'Smead Adjustable Mobile File Trolley with Lockable Top',
   'Belkin 7 Outlet SurgeMaster II'],
  'quantity': Decimal('80')},
 {'name': 'Maureen Gnade',
  'product_name': ['Imation\xa08gb Micro Traveldrive Usb 2.0\xa0Flash Drive',
   'Recycled Interoffice Envelopes with Re-Use-A-Seal Closure',
   ' 10 x 13',
   'GBC Recycled Grain Textured Covers',
   'Avery 5'],
  'quantity': Decimal('78')},
 {'name': 'Roy Französisch',
  'product_name': ['Hammermill CopyPlus Copy Paper (20Lb. and 84 Bright)',
   'Xerox 1971',
   'Acme Softgrip Scissors',
   "O'Sullivan 4-Shelf Bookcase in Odessa Pine"],
  'quantity': Decimal('78')},
 {'name': 'Sue Ann Reed',
  'product_name': ['Newell 336',
   'Newell Chalk Holder',
   'Howard Miller 13-3/4" Diameter Brushed Chrome Round Wall Clock',
   'Office Impressions Heavy Duty Welded Shelving & Multimedia Storage Drawers',
   "Eldon ProFile File 'N Store Portable File Tub Letter/Legal Size Black"],
  'quantity': Decimal('76')},
 {'name': 'Sung Shariari',
  'product_name': ['Panasonic KP-350BK Electric Pencil Sharpener with Auto Stop',
   'Rogers Profile Extra Capacity Storage Tub',
   'Carina Double Wide Media Storage Towers in Natural & Black',
   'OIC Binder Clips',
   ' Mini',
   ' 1/4" Capacity',
   ' Black'],
  'quantity': Decimal('75')}]

In [3]:
from mysql.connector import connect

db = connect(host = db_host, 
             user = db_user, 
             password = params['db']['MYSQL_PASSWORD'],
             database = db_name)

#cek koneksi database
try:
    print(db)
    print('Database berhasil terkoneksi')
except:
    print('Database tidak terkoneksi')

<mysql.connector.connection.MySQLConnection object at 0x0000022C4D1ECF10>
Database berhasil terkoneksi

In [4]:
def query_barang_tanggal(db,nama_barang,tanggal_awal,tanggal_akhir):
    query = f'''
            select DATE_FORMAT(STR_TO_DATE(a.date, '%d-%m-%Y'), '%d-%m-%Y') AS tanggal, 
            a.name, a.product_name, c.category, c.sub_category, a.quantity, b.city, b.state
            from purchase a
            inner join users b on a.name = b.name
            inner join products c on a.product_name = c.product_name
            where a.product_name Like '%{nama_barang}%'
            and STR_TO_DATE(a.date, '%d-%m-%Y') 
            BETWEEN STR_TO_DATE('{tanggal_awal}', '%d-%m-%Y') AND STR_TO_DATE('{tanggal_akhir}', '%d-%m-%Y')
            ORDER BY a.date ASC, a.quantity DESC, a.name ASC;
            '''
    cursor_db = db.cursor()
    cursor_db.execute(query)
    result = cursor_db.fetchall()
    hasil = []
    for i in result:
        kucing = {}
        kucing['Tanggal'] = i[0]
        kucing['Nama Pembeli'] = i[1]
        kucing['Nama Produk'] = i[2]
        kucing['Kategori'] = i[3]
        kucing['Sub Kategori'] = i[4]
        kucing['Kuantitas'] = i[5]
        kucing['kota'] = i[6]
        kucing['Negara'] = i[7]
        hasil.append(kucing)
    cursor_db.close()
    db.close()
    return hasil
    
# query_barang_tanggal(db,nama_barang,tanggal_awal,tanggal_akhir)
query_barang_tanggal(db,'usb','01-01-2020','31-12-2020')

[{'Tanggal': '13-05-2020',
  'Nama Pembeli': 'Jennifer Jackson',
  'Nama Produk': 'Imation\xa08gb Micro Traveldrive Usb 2.0\xa0Flash Drive',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 21,
  'kota': 'College Station',
  'Negara': 'Texas'},
 {'Tanggal': '20-12-2020',
  'Nama Pembeli': 'Bobby Odegard',
  'Nama Produk': 'Imation\xa08gb Micro Traveldrive Usb 2.0\xa0Flash Drive',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 24,
  'kota': 'Stockton',
  'Negara': 'California'},
 {'Tanggal': '20-12-2020',
  'Nama Pembeli': 'Anthony Witt',
  'Nama Produk': 'Belkin F8E887 USB Wired Ergonomic Keyboard',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 5,
  'kota': 'Provo',
  'Negara': 'Utah'},
 {'Tanggal': '24-01-2020',
  'Nama Pembeli': 'Sanjit Chand',
  'Nama Produk': 'Dell Slim USB Multimedia Keyboard',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 10,
  'kota': 'Romeoville',
  'Negara': 'Illinois'},
 {'Tanggal': '27-12-2020',
  'Nama Pembeli': 'Kelly Williams',
  'Nama Produk': 'TRENDnet 56K USB 2.0 Phone, Internet and Fax Modem',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 5,
  'kota': 'Indianapolis',
  'Negara': 'Indiana'},
 {'Tanggal': '28-06-2020',
  'Nama Pembeli': 'Muhammed Lee',
  'Nama Produk': 'Imation Bio 2GB USB\xa0Flash Drive Imation\xa0Corp',
  'Kategori': 'Technology',
  'Sub Kategori': 'Accessories',
  'Kuantitas': 8,
  'kota': 'Coral Springs',
  'Negara': 'Florida'}]

In [2]:
import jwt

In [5]:
import pandas as pd
import random
random.seed(7)
from datetime import datetime, timedelta
import urllib.parse
from dotenv import dotenv_values
from mysql.connector import connect

import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DateTime, distinct, and_
from sqlalchemy.ext.declarative import declarative_base

from fastapi import FastAPI, File, UploadFile, HTTPException, Depends
import uvicorn
import nest_asyncio
nest_asyncio.apply()

import jwt
from fastapi.security import HTTPBearer, HTTPAuthorizationCredentials
from fastapi.openapi.docs import get_swagger_ui_html
from fastapi.openapi.utils import get_openapi

params = {'db':dotenv_values('TugasAkhir.env')}

db_user = params['db']['MYSQL_USERNAME']
db_password = urllib.parse.quote_plus(params['db']['MYSQL_PASSWORD'])
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

# Buat koneksi ke database MySQL
SQLALCHEMY_DATABASE_URL = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True, pool_pre_ping=True)

# Membuat tanggal acak
def random_tanggal():
    # Set the start and end dates
    start_date = datetime(2017, 1, 1)
    end_date = datetime(2022, 12, 17)
    # Generate a random date between the start and end dates
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    # Convert the random date to a string in the DD--MM-YYYY format
    formatted_date = random_date.strftime("%d-%m-%Y")
    return formatted_date

# Buat base class untuk ORM
Base = declarative_base()

try:
    # Buat tabel products
    class Products(Base):
        __tablename__ = 'products'
        product_id = Column(Integer, nullable=False)
        product_name = Column(String(50), primary_key=True)
        category = Column(String(50), nullable=False)
        sub_category = Column(String(50), nullable=False)

    # Buat tabel users
    class Users(Base):
        __tablename__ = 'users'
        customer_id = Column(Integer, nullable=False)
        name = Column(String(50), primary_key=True)
        city = Column(String(50), nullable=False)
        state = Column(String(50), nullable=False)
        postal = Column(Integer, nullable=False)

    # Buat tabel purchase
    class Purchase(Base):
        __tablename__ = 'purchase'
        name = Column(String(50), nullable=False, primary_key=True)
        date = Column(DateTime, nullable=False)
        product_name = Column(String(50), nullable=False, primary_key=True)
        quantity = Column(Integer, nullable=False)

    Base.metadata.create_all(engine)
except Exception as e:
    print(e)        

app = FastAPI()

def tabel_sql_jadi(users_csv,products_csv):
    df_users = pd.read_csv(users_csv.file)
    df_products = pd.read_csv(products_csv.file, sep=';', encoding='latin-1')
    df_products.columns = ['product_id', 'product_name', 'category', 'sub_category']

    n = 1000 #banyaknya kolom tabel purchase

    df_purchase = pd.DataFrame({'date':[random_tanggal() for i in range(n)],
                         'name':[random.choices(df_users['name'])[0] for i in range(n)], 
                         'product_name':[random.choices(df_products['product_name'])[0] for i in range(n)],
                         'quantity':[random.randint(1,25) for i in range(n)]
                        })
    
    sudah_menambahkan_data_pada_sql = True # Jawab True atau False
    
    if sudah_menambahkan_data_pada_sql:
        pass
    else:
        # Insert data ke tabel products
        df_products.to_sql('products', engine, if_exists='replace', index=False)

        # Insert data ke tabel users
        df_users.to_sql('users', engine, if_exists='replace', index=False)

        # Insert data ke tabel purchase
        df_purchase.to_sql('purchase', engine, if_exists='replace', index=False)
    
# Buat Session
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

# process JWT
security = HTTPBearer()

def create_jwt(data):
    # Set kunci yang akan digunakan untuk men-encode token
    secret = "my-secret"
    # Set header dan payload token
    header = {"alg": "HS256", "typ": "JWT"}
    payload = {"sub": data}
    # Encode token dan kembalikan hasilnya
    return jwt.encode(header, payload, secret)

def validate_jwt(token):
    # Set kunci yang akan digunakan untuk men-decode token
    secret = "kucing"
    try:
        # Coba decode token dengan kunci yang telah ditentukan
        data = jwt.decode(token, secret)
        # Kembalikan informasi pengguna yang terkandung dalam token
        return data["sub"]
    except:
        # Jika decode gagal (misalnya karena token tidak valid), kembalikan nilai None
        return None

@app.get("/login")
async def login(username: str, password: str):
    # Coba authentikasi pengguna dengan username dan password yang diterima
    if authenticate(username, password):
        # Jika autentikasi berhasil, buat token JWT baru dan kembalikan ke pengguna
        token = create_jwt({"username": username})
        return {"access_token": token}
    else:
        # Jika autentikasi gagal, kembalikan pesan kesalahan
        return {"error": "Invalid username or password"}

@app.get("/protected")
@security.requires_auth()
async def protected(credentials: HTTPAuthorizationCredentials = Depends(security)):
    # Validasi token
    user = validate_jwt(credentials.credentials)
    if user:
        # Jika token valid, kembalikan pesan untuk menandakan bahwa pengguna berhasil login
        return {"message": f"Hello, {user['username']}! You have access to this protected feature."}
    else:
        # Jika token tidak valid, kembalikan pesan kesalahan
        raise HTTPException(status_code=401, detail="Invalid authorization token")

        
        
        
# Menyapa pada localhost awal
@app.get("/")
async def tugas_akhir():
    return '''Halo, saya uzu.
                Ini merupakan tugas akhir dari 
                Sanbercode Python Backend Development'''

# Menampilkan isi dari tabel (users, products, purchase)
@app.post("/tabel/{nama_tabel}")
@security.requires_auth()
async def tampilkan_isi_tabel(users_csv: UploadFile = File(...), 
                          products_csv: UploadFile = File(...),
                          nama_tabel = str
                         ):
    tabel_sql_jadi(users_csv,products_csv)
    
    return conn.execute(f'select * from {nama_tabel.lower()}').all()

    session.commit()
    session.close()

# Menampilkan semua barang dengan urutan ascending (None, True, False)
@app.post("/barang")
async def tampilkan_barang(users_csv: UploadFile = File(...), 
                          products_csv: UploadFile = File(...),
                          sort_desc = None
                         ):
    tabel_sql_jadi(users_csv,products_csv)
    
    result = session.query(Products.product_name).all()
    session.commit()
    
    produk = [i[0] for i in result]
    if sort_desc==None:
        pass
    elif sort_desc.lower() == 'true':
        produk.sort(reverse=False)
    elif sort_desc.lower() == 'false':
        produk.sort(reverse=True)
    return produk

    session.commit()
    session.close()

# Menampilkan semua barang yang bernama <nama_barang> dengan urutan ascending (None, True, False)
@app.post("/search_barang/{nama_barang}")
async def tampilkan_barang(users_csv: UploadFile = File(...), 
                          products_csv: UploadFile = File(...),
                          nama_barang = '',
                          sort_desc = None
                         ):
    tabel_sql_jadi(users_csv,products_csv)
    
    result = session.query(Products.product_name).all()
    session.commit()

    produk = [i[0] for i in result]
    cari_barang = []
    for i in produk:
        if nama_barang.lower() in i.lower():
             cari_barang.append(i)

    if sort_desc==None:
        pass
    elif sort_desc.lower() == 'true':
        cari_barang.sort(reverse=False)
    elif sort_desc.lower() == 'false':
        cari_barang.sort(reverse=True)
    return cari_barang

    session.commit()
    session.close()

# Menampilkan semua orang <nama_pembeli> berserta kota dan negaranya dengan urutan ascending (None, True, False)
@app.post("/pembeli")
@security.requires_auth()
async def tampilkan_nama_tinggal(users_csv: UploadFile = File(...), 
                                  products_csv: UploadFile = File(...),
                                  sort_desc = None
                                 ):
    tabel_sql_jadi(users_csv,products_csv)
    
    if sort_desc==None:
        result = (session.query(sa.distinct(Users.name), 
                            Users.city, 
                            Users.state))
    if sort_desc=='true':
        result = (session.query(sa.distinct(Users.name), 
                            Users.city, 
                            Users.state)
        .order_by(Users.name.desc()))
    if sort_desc=='false':
        result = (session.query(sa.distinct(Users.name), 
                            Users.city, 
                            Users.state)
        .order_by(Users.name.asc()))
    
    hasil = []
    for x, i in enumerate(result):
        hasil.append(f'{x+1}. {i[0]} {i[1]} {i[2]}')
    return hasil

    session.commit()
    session.close()

    
# Menampilkan <n> orang dengan total pembelian terbanyak berserta nama barangnya
@app.post("/pembeli_terbanyak")
@security.requires_auth()
async def tampilkan_nama_tinggal(users_csv: UploadFile = File(...), 
                                  products_csv: UploadFile = File(...),
                                  banyaknya_orang_yang_ditampilkan = 1000
                                 ):
    tabel_sql_jadi(users_csv,products_csv)
    
    n = int(banyaknya_orang_yang_ditampilkan)
    
    result = (
    session.query(Purchase.name, 
                  sa.func.group_concat(Purchase.product_name, separator=", ").label("product_name"), 
                  sa.func.sum(Purchase.quantity).label("quantity"))
        .group_by(Purchase.name)
        .order_by(sa.func.sum(Purchase.quantity).desc())
        .limit(n)
        )

    hasil = []
    for i in result:
        kucing = {}
        kucing['name'] = i[0]
        kucing['product_name'] = i[1].split(',')
        kucing['quantity'] = i[2]
        hasil.append(kucing)
    
    return hasil
    
    session.commit()
    session.close()    
    
    
# Menampilkan semua data pembeli dan barang dengan query parameternya adalah nama barang, tanggal awal pembelian dan tanggal akhir pembelian
@app.post("/tampilkan_semua")
@security.requires_auth()
async def tampilkan_semua(users_csv: UploadFile = File(...), 
                                  products_csv: UploadFile = File(...),
                                  nama_barang = None,
                                  tanggal_awal = '01-01-2017',
                                  tanggal_akhir = '17-12-2022'
                                 ):
    tabel_sql_jadi(users_csv,products_csv)
    
    db = connect(host = db_host, 
         user = db_user, 
         password = params['db']['MYSQL_PASSWORD'],
         database = db_name)
    
    def query_barang_tanggal(db,nama_barang,tanggal_awal,tanggal_akhir):
        query = f'''
                select DATE_FORMAT(STR_TO_DATE(a.date, '%d-%m-%Y'), '%d-%m-%Y') AS tanggal, 
                a.name, a.product_name, c.category, c.sub_category, a.quantity, b.city, b.state
                from purchase a
                inner join users b on a.name = b.name
                inner join products c on a.product_name = c.product_name
                where a.product_name Like '%{nama_barang}%'
                and STR_TO_DATE(a.date, '%d-%m-%Y') 
                BETWEEN STR_TO_DATE('{tanggal_awal}', '%d-%m-%Y') AND STR_TO_DATE('{tanggal_akhir}', '%d-%m-%Y')
                ORDER BY a.date ASC, a.quantity DESC, a.name ASC;
                '''
        cursor_db = db.cursor()
        cursor_db.execute(query)
        result = cursor_db.fetchall()
        hasil = []
        for i in result:
            kucing = {}
            kucing['Tanggal'] = i[0]
            kucing['Nama Pembeli'] = i[1]
            kucing['Nama Produk'] = i[2]
            kucing['Kategori'] = i[3]
            kucing['Sub Kategori'] = i[4]
            kucing['Kuantitas'] = i[5]
            kucing['kota'] = i[6]
            kucing['Negara'] = i[7]
            hasil.append(kucing)
        cursor_db.close()
        db.close()
        return hasil

    return query_barang_tanggal(db,nama_barang,tanggal_awal,tanggal_akhir)
    
if __name__ == "__main__":
    uvicorn.run(app)

2022-12-23 19:15:09,559 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-23 19:15:09,559 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 19:15:09,562 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-23 19:15:09,563 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 19:15:09,565 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-23 19:15:09,566 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 19:15:09,568 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 19:15:09,569 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 19:15:09,570 INFO sqlalchemy.engine.Engine [generated in 0.00146s] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 19:15:09,573 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 19:15:09,573 INFO sqlalchemy.engine.Engine [cached since 0.004774s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 19:15:09,576 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 19:15:09,577 INFO sqlalchemy.engine.Engine [cached since 0.007992s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 19:15:09,578 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'HTTPBearer' object has no attribute 'requires_auth'

In [ ]:
# process JWT
security = HTTPBearer()

def create_jwt(data):
    # Set kunci yang akan digunakan untuk men-encode token
    secret = "my-secret"
    # Set header dan payload token
    header = {"alg": "HS256", "typ": "JWT"}
    payload = {"sub": data}
    # Encode token dan kembalikan hasilnya
    return jwt.encode(header, payload, secret)

def validate_jwt(token):
    # Set kunci yang akan digunakan untuk men-decode token
    secret = "kucing"
    try:
        # Coba decode token dengan kunci yang telah ditentukan
        data = jwt.decode(token, secret)
        # Kembalikan informasi pengguna yang terkandung dalam token
        return data["sub"]
    except:
        # Jika decode gagal (misalnya karena token tidak valid), kembalikan nilai None
        return None

@app.get("/login")
async def login(username: str, password: str):
    # Coba authentikasi pengguna dengan username dan password yang diterima
    if authenticate(username, password):
        # Jika autentikasi berhasil, buat token JWT baru dan kembalikan ke pengguna
        token = create_jwt({"username": username})
        return {"access_token": token}
    else:
        # Jika autentikasi gagal, kembalikan pesan kesalahan
        return {"error": "Invalid username or password"}

@app.get("/protected")
@security.requires_auth
async def protected(credentials: HTTPAuthorizationCredentials = Depends(security)):
    # Validasi token
    user = validate_jwt(credentials.credentials)
    if user:
        # Jika token valid, kembalikan pesan untuk menandakan bahwa pengguna berhasil login
        return {"message": f"Hello, {user['username']}! You have access to this protected feature."}
    else:
        # Jika token tidak valid, kembalikan pesan kesalahan
        raise HTTPException(status_code=401, detail="Invalid authorization token")
        
AttributeError: 'HTTPBearer' object has no attribute 'requires_auth'