1. Buatlah sebuah Sistem REST API dengan menggunakan dua data di atas
2. Buatlah 1 tabel tambahan yang mendukung backend aplikasi kalian berdasar pada dua berkas di atas. (Silahkan masukkan 3 tabel tersebut dalam MySQL lokal dan berkreasi dengannya)
3. Beberapa berkas yang harus ada
a. models
b. router
4. Untuk berkas lain jika dirasa dibutuhkan silahkan tambahkan, misal schema, berkas utama (baik diberi nama main atau app), dll (konfigurasi .env sesuaikan dengan materi)
5. Setiap Tabel harus ada relasi dengan minimal satu tabel lainnya.
6. Gunakan ORM
7. Silahkan memilih menggunakan Flask atau FastAPI
8. Ada beberapa endpoint api yang harus ada
9. Bisa melihat semua barang
10. Bisa melihat barang dengan kata kunci (jika dicari buku, maka semua barang yang ada kata "buku" akan masuk pencarian)
11. Silahkan tambahkan endpoint lain sesuai kebutuhan
12. Aplikasikan penggunaan JWT, contohnya user hanya bisa melihat data transaksi user tersebut tapi tidak user lain (hanya contoh). product tidak perlu JWT (karena semua user bisa melihat semua product)
13. Dokumetasikan API kalian dengan Swagger
14. Semua tambahan dari ketentuan di atas akan menjadi nilai tambah
15. Jelaskan tentang aplikasi backend kalian pada readme.md

In [1]:
import pandas as pd

df_users = pd.read_csv('users.csv')
df_products = pd.read_csv('products.csv', sep=';', encoding='latin-1')

display(df_users)

     customer_id               name           city       state  postal
0              1        Claire Gute        Fremont    Nebraska   68025
1              2     Sean O'Donnell          Provo        Utah   84604
2              3    Brosina Hoffman         Keller       Texas   76248
3              4       Andrew Allen      Harlingen       Texas   78550
4              5       Irene Maddox         Kenner   Louisiana   70065
..           ...                ...            ...         ...     ...
404          405      Ionia McGrath     Plainfield  New Jersey    7060
405          406     Anemone Ratner  Mission Viejo  California   92691
406          407         Sung Chung        Abilene       Texas   79605
407          408    Ricardo Emerson        Jackson    Michigan   49201
408          409  Susan MacKendrick         Rogers    Arkansas   72756

[409 rows x 5 columns]

In [2]:
display(df_products)

,product_id,Product Name,Category,Sub-Category
0,1,Bush Somerset Collection Bookcase,Furniture,Bookcases
1,2,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs
2,3,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels
3,4,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables
4,5,Eldon Fold 'N Roll Cart System,Office Supplies,Storage
...,...,...,...,...
1845,1846,RCA ViSYS 25425RE1 Corded phone,Technology,Phones
1846,1847,Cisco 8961 IP Phone Charcoal,Technology,Machines
1847,1848,"Eureka Hand Vacuum, Bagless",Office Supplies,Appliances
1848,1849,LG G2,Technology,Phones
1849,1850,Eldon Jumbo ProFile Portable File Boxes Graphi...,Office Supplies,Storage

In [3]:
import random
from datetime import datetime, timedelta

random.seed(7)

def random_tanggal():
    # Set the start and end dates
    start_date = datetime(2020, 1, 1)
    end_date = datetime(2022, 12, 17)
    # Generate a random date between the start and end dates
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    # Convert the random date to a string in the DD--MM-YY format
    formatted_date = random_date.strftime("%d-%m-20%y")
    return formatted_date

#banyaknya kolom
n = 1000

df_purchase = pd.DataFrame({'Date':[random_tanggal() for i in range(n)],
                         'Name':[random.choices(df_users['name'])[0] for i in range(n)], 
                         'Product Name':[random.choices(df_products['Product Name'])[0] for i in range(n)],
                         'Quantity':[random.randint(1,25) for i in range(n)]
                        })
display(df_purchase)

,Date,Name,Product Name,Quantity
0,25-10-2021,Matt Collins,Bevis 44 x 96 Conference Tables,14
1,04-11-2020,Lena Cacioppo,HTC One Mini,8
2,19-03-2022,Max Jones,Acco Suede Grain Vinyl Round Ring Binder,8
3,08-04-2020,Dan Lawera,Global Deluxe High-Back Office Chair in Storm,12
4,28-05-2020,Liz Preis,"Avery Trapezoid Ring Binder, 3"" Capacity, Blac...",7
...,...,...,...,...
995,01-10-2021,Carl Ludwig,Boston 16765 Mini Stand Up Battery Pencil Shar...,2
996,08-06-2020,Joy Daniels,"IBM Multi-Purpose Copy Paper, 8 1/2 x 11"", Case",22
997,20-02-2021,Ralph Ritter,"Fellowes Premier Superior Surge Suppressor, 10...",4
998,05-03-2020,Shui Tom,Martin Yale Chadless Opener Electric Letter Op...,18
999,12-10-2022,Keith Herrera,Advantus T-Pin Paper Clips,13

In [4]:
import sqlalchemy
from sqlalchemy.orm import sessionmaker, mapper
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, ForeignKey
from sqlalchemy.schema import PrimaryKeyConstraint
from dotenv import dotenv_values
import urllib.parse

params = {'db':dotenv_values('tugasakhir.env')}

db_user = params['db']['MYSQL_USERNAME']
db_password = urllib.parse.quote_plus(params['db']['MYSQL_PASSWORD'])
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

# Buat koneksi ke database MySQL
SQLALCHEMY_DATABASE_URL = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True, pool_pre_ping=True)

# Buat metadata
metadata = MetaData()

try:
    # Buat tabel products
    products = Table('products', metadata,
                     Column('Product_id', Integer, primary_key=True),
                     Column('Product_Name', String(50), nullable=False),
                     Column('Category', String(50), nullable=False),
                     Column('Sub_Category', String(50), nullable=False))

    # Buat tabel users
    users = Table('users', metadata,
                  Column('Customer_id', Integer, primary_key=True),
                  Column('Name', String(50), nullable=False),
                  Column('City', String(50), nullable=False),
                  Column('State', String(50), nullable=False),
                  Column('Postal', Integer, nullable=False))

    # Buat tabel purchase
    purchase = Table('purchase', metadata,
        Column('Name', String(50), nullable=False),
        Column('Date', String(10), nullable=False),
        Column('Product_Name', String(50), nullable=False),
        Column('Quantity', Integer, nullable=False),
        PrimaryKeyConstraint('Name', 'Product_Name')
    )

    metadata.create_all(engine)
except Exception as e:
    print(e)

2022-12-23 00:44:36,245 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-23 00:44:36,247 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:44:36,250 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-23 00:44:36,250 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:44:36,252 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-23 00:44:36,254 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:44:36,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:44:36,258 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:44:36,259 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 00:44:36,266 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:44:36,267 INFO sqlalchemy.engine.Engine [cached since 0.009162s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 00:44:36,270 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:44:36,270 INFO sqlalchemy.engine.Engine [cached since 0.01279s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 00:44:36,273 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# Insert data ke tabel products
df_products.to_sql('products', engine, if_exists='replace', index=False)

# Insert data ke tabel users
df_users.to_sql('users', engine, if_exists='replace', index=False)

# Insert data ke tabel purchase
df_purchase.to_sql('purchase', engine, if_exists='replace', index=False)

2022-12-23 00:47:31,953 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:31,953 INFO sqlalchemy.engine.Engine [cached since 175.7s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 00:47:31,958 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:31,959 INFO sqlalchemy.engine.Engine [cached since 175.7s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 00:47:31,962 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 00:47:31,964 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:31,966 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `products`
2022-12-23 00:47:31,967 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:31,970 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:31,972 INFO sqlalchemy.engine.Engine
DROP TABLE products
2022-12-23 00:47:31,972 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2022-12-23 00:47:31,981 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:31,983 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:31,985 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id BIGINT,
	`Product Name` TEXT,
	`Category` TEXT,
	`Sub-Category` TEXT
)


2022-12-23 00:47:31,986 INFO sqlalchemy.engine.Engine [no key 0.00122s] {}
2022-12-23 00:47:31,998 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,008 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, `Product Name`, `Category`, `Sub-Category`) VALUES (%(product_id)s, %(Product Name)s, %(Category)s, %(Sub-Category)s)
2022-12-23 00:47:32,009 INFO sqlalchemy.engine.Engine [generated in 0.00656s] ({'product_id': 1, 'Product Name': 'Bush Somerset Collection Bookcase', 'Category': 'Furniture', 'Sub-Category': 'Bookcases'}, {'product_id': 2, 'Product Name': 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 'Category': 'Furniture', 'Sub-Category': 'Chairs'}, {'product_id': 3, 'Product Name': 'Self-Adhesive Address Labels for Typewriters by Universal', 'Category': 'Office Supplies', 'Sub-Category': 'Labels'}, {'product_id': 4, 'Product Name': 'Bretford CR4500 Series Slim Rectangular Table', 'Category': 'Furniture', 'Sub-Category': 'Tables'}, {'product_id': 5, 'Product Name': "Eldon Fold 'N Roll Cart System", 'Category': 'Office Supplies', 'Sub-Category': 'Storage'}, {'product_id': 6, 'Product Name': 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 'Category': 'Furniture', 'Sub-Category': 'Furnishings'}, {'product_id': 7, 'Product Name': 'Newell 322', 'Category': 'Office Supplies', 'Sub-Category': 'Art'}, {'product_id': 8, 'Product Name': 'Mitel 5320 IP Phone VoIP phone', 'Category': 'Technology', 'Sub-Category': 'Phones'}  ... displaying 10 of 1850 total bound parameter sets ...  {'product_id': 1849, 'Product Name': 'LG G2', 'Category': 'Technology', 'Sub-Category': 'Phones'}, {'product_id': 1850, 'Product Name': 'Eldon Jumbo ProFile Portable File Boxes Graphite/Black', 'Category': 'Office Supplies', 'Sub-Category': 'Storage'})
2022-12-23 00:47:32,433 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,439 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:32,439 INFO sqlalchemy.engine.Engine [cached since 176.2s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 00:47:32,443 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:32,444 INFO sqlalchemy.engine.Engine [cached since 176.2s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 00:47:32,447 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 00:47:32,448 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:32,450 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `users`
2022-12-23 00:47:32,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:32,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,455 INFO sqlalchemy.engine.Engine
DROP TABLE users
2022-12-23 00:47:32,456 INFO sqlalchemy.engine.Engine [no key 0.00155s] {}
2022-12-23 00:47:32,464 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,466 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,468 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	customer_id BIGINT,
	name TEXT,
	city TEXT,
	state TEXT,
	postal BIGINT
)


2022-12-23 00:47:32,468 INFO sqlalchemy.engine.Engine [no key 0.00123s] {}
2022-12-23 00:47:32,482 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,488 INFO sqlalchemy.engine.Engine INSERT INTO users (customer_id, name, city, state, postal) VALUES (%(customer_id)s, %(name)s, %(city)s, %(state)s, %(postal)s)
2022-12-23 00:47:32,489 INFO sqlalchemy.engine.Engine [generated in 0.00296s] ({'customer_id': 1, 'name': 'Claire Gute', 'city': 'Fremont', 'state': 'Nebraska', 'postal': 68025}, {'customer_id': 2, 'name': "Sean O'Donnell", 'city': 'Provo', 'state': 'Utah', 'postal': 84604}, {'customer_id': 3, 'name': 'Brosina Hoffman', 'city': 'Keller', 'state': 'Texas', 'postal': 76248}, {'customer_id': 4, 'name': 'Andrew Allen', 'city': 'Harlingen', 'state': 'Texas', 'postal': 78550}, {'customer_id': 5, 'name': 'Irene Maddox', 'city': 'Kenner', 'state': 'Louisiana', 'postal': 70065}, {'customer_id': 6, 'name': 'Pete Kriz', 'city': 'Santa Ana', 'state': 'California', 'postal': 92704}, {'customer_id': 7, 'name': 'Alejandro Grove', 'city': 'Pharr', 'state': 'Texas', 'postal': 78577}, {'customer_id': 8, 'name': 'Zuschuss Donatelli', 'city': 'Taylor', 'state': 'Michigan', 'postal': 48180}  ... displaying 10 of 409 total bound parameter sets ...  {'customer_id': 408, 'name': 'Ricardo Emerson', 'city': 'Jackson', 'state': 'Michigan', 'postal': 49201}, {'customer_id': 409, 'name': 'Susan MacKendrick', 'city': 'Rogers', 'state': 'Arkansas', 'postal': 72756})
2022-12-23 00:47:32,576 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,580 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:32,581 INFO sqlalchemy.engine.Engine [cached since 176.3s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 00:47:32,585 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 00:47:32,586 INFO sqlalchemy.engine.Engine [cached since 176.3s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 00:47:32,589 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 00:47:32,590 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:32,593 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `purchase`
2022-12-23 00:47:32,593 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 00:47:32,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,598 INFO sqlalchemy.engine.Engine
DROP TABLE purchase
2022-12-23 00:47:32,599 INFO sqlalchemy.engine.Engine [no key 0.00123s] {}
2022-12-23 00:47:32,607 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,608 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,610 INFO sqlalchemy.engine.Engine
CREATE TABLE purchase (
	`Date` TEXT,
	`Name` TEXT,
	`Product Name` TEXT,
	`Quantity` BIGINT
)


2022-12-23 00:47:32,611 INFO sqlalchemy.engine.Engine [no key 0.00233s] {}
2022-12-23 00:47:32,622 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 00:47:32,624 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 00:47:32,630 INFO sqlalchemy.engine.Engine INSERT INTO purchase (`Date`, `Name`, `Product Name`, `Quantity`) VALUES (%(Date)s, %(Name)s, %(Product Name)s, %(Quantity)s)
2022-12-23 00:47:32,631 INFO sqlalchemy.engine.Engine [generated in 0.00447s] ({'Date': '25-10-2021', 'Name': 'Matt Collins', 'Product Name': 'Bevis 44 x 96 Conference Tables', 'Quantity': 14}, {'Date': '04-11-2020', 'Name': 'Lena Cacioppo', 'Product Name': 'HTC One Mini', 'Quantity': 8}, {'Date': '19-03-2022', 'Name': 'Max Jones', 'Product Name': 'Acco Suede Grain Vinyl Round Ring Binder', 'Quantity': 8}, {'Date': '08-04-2020', 'Name': 'Dan Lawera', 'Product Name': 'Global Deluxe High-Back Office Chair in Storm', 'Quantity': 12}, {'Date': '28-05-2020', 'Name': 'Liz Preis', 'Product Name': 'Avery Trapezoid Ring Binder, 3" Capacity, Black, 1040 sheets', 'Quantity': 7}, {'Date': '11-07-2020', 'Name': 'James Galang', 'Product Name': 'Tennsco Commercial Shelving', 'Quantity': 11}, {'Date': '18-01-2022', 'Name': 'Nora Paige', 'Product Name': '3-ring staple pack', 'Quantity': 25}, {'Date': '28-04-2020', 'Name': 'Doug Bickford', 'Product Name': 'Elite 5" Scissors', 'Quantity': 14}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '05-03-2020', 'Name': 'Shui Tom', 'Product Name': 'Martin Yale Chadless Opener Electric Letter Opener', 'Quantity': 18}, {'Date': '12-10-2022', 'Name': 'Keith Herrera', 'Product Name': 'Advantus T-Pin Paper Clips', 'Quantity': 13})
2022-12-23 00:47:32,833 INFO sqlalchemy.engine.Engine COMMIT

-1