1. Buatlah sebuah Sistem REST API dengan menggunakan dua data di atas
2. Buatlah 1 tabel tambahan yang mendukung backend aplikasi kalian berdasar pada dua berkas di atas. (Silahkan masukkan 3 tabel tersebut dalam MySQL lokal dan berkreasi dengannya)
3. Beberapa berkas yang harus ada
a. models
b. router
4. Untuk berkas lain jika dirasa dibutuhkan silahkan tambahkan, misal schema, berkas utama (baik diberi nama main atau app), dll (konfigurasi .env sesuaikan dengan materi)
5. Setiap Tabel harus ada relasi dengan minimal satu tabel lainnya.
6. Gunakan ORM
7. Silahkan memilih menggunakan Flask atau FastAPI
8. Ada beberapa endpoint api yang harus ada
9. Bisa melihat semua barang
10. Bisa melihat barang dengan kata kunci (jika dicari buku, maka semua barang yang ada kata "buku" akan masuk pencarian)
11. Silahkan tambahkan endpoint lain sesuai kebutuhan
12. Aplikasikan penggunaan JWT, contohnya user hanya bisa melihat data transaksi user tersebut tapi tidak user lain (hanya contoh). product tidak perlu JWT (karena semua user bisa melihat semua product)
13. Dokumetasikan API kalian dengan Swagger
14. Semua tambahan dari ketentuan di atas akan menjadi nilai tambah
15. Jelaskan tentang aplikasi backend kalian pada readme.md

In [1]:
import pandas as pd

df_users = pd.read_csv('users.csv')

display(df_users)

     customer_id               name           city       state  postal
0              1        Claire Gute        Fremont    Nebraska   68025
1              2     Sean O'Donnell          Provo        Utah   84604
2              3    Brosina Hoffman         Keller       Texas   76248
3              4       Andrew Allen      Harlingen       Texas   78550
4              5       Irene Maddox         Kenner   Louisiana   70065
..           ...                ...            ...         ...     ...
404          405      Ionia McGrath     Plainfield  New Jersey    7060
405          406     Anemone Ratner  Mission Viejo  California   92691
406          407         Sung Chung        Abilene       Texas   79605
407          408    Ricardo Emerson        Jackson    Michigan   49201
408          409  Susan MacKendrick         Rogers    Arkansas   72756

[409 rows x 5 columns]

In [2]:
df_products = pd.read_csv('products.csv', sep=';', encoding='latin-1')
df_products.columns = ['product_id', 'product_name', 'category', 'sub_category']
display(df_products)

,product_id,product_name,category,sub_category
0,1,Bush Somerset Collection Bookcase,Furniture,Bookcases
1,2,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs
2,3,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels
3,4,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables
4,5,Eldon Fold 'N Roll Cart System,Office Supplies,Storage
...,...,...,...,...
1845,1846,RCA ViSYS 25425RE1 Corded phone,Technology,Phones
1846,1847,Cisco 8961 IP Phone Charcoal,Technology,Machines
1847,1848,"Eureka Hand Vacuum, Bagless",Office Supplies,Appliances
1848,1849,LG G2,Technology,Phones
1849,1850,Eldon Jumbo ProFile Portable File Boxes Graphi...,Office Supplies,Storage

In [3]:
import random
from datetime import datetime, timedelta

random.seed(7)

def random_tanggal():
    # Set the start and end dates
    start_date = datetime(2020, 1, 1)
    end_date = datetime(2022, 12, 17)
    # Generate a random date between the start and end dates
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    # Convert the random date to a string in the DD--MM-YY format
    formatted_date = random_date.strftime("%d-%m-20%y")
    return formatted_date

n = 1000 #banyaknya kolom

df_purchase = pd.DataFrame({'date':[random_tanggal() for i in range(n)],
                         'name':[random.choices(df_users['name'])[0] for i in range(n)], 
                         'product_name':[random.choices(df_products['product_name'])[0] for i in range(n)],
                         'quantity':[random.randint(1,25) for i in range(n)]
                        })
display(df_purchase)

,date,name,product_name,quantity
0,25-10-2021,Matt Collins,Bevis 44 x 96 Conference Tables,14
1,04-11-2020,Lena Cacioppo,HTC One Mini,8
2,19-03-2022,Max Jones,Acco Suede Grain Vinyl Round Ring Binder,8
3,08-04-2020,Dan Lawera,Global Deluxe High-Back Office Chair in Storm,12
4,28-05-2020,Liz Preis,"Avery Trapezoid Ring Binder, 3"" Capacity, Blac...",7
...,...,...,...,...
995,01-10-2021,Carl Ludwig,Boston 16765 Mini Stand Up Battery Pencil Shar...,2
996,08-06-2020,Joy Daniels,"IBM Multi-Purpose Copy Paper, 8 1/2 x 11"", Case",22
997,20-02-2021,Ralph Ritter,"Fellowes Premier Superior Surge Suppressor, 10...",4
998,05-03-2020,Shui Tom,Martin Yale Chadless Opener Electric Letter Op...,18
999,12-10-2022,Keith Herrera,Advantus T-Pin Paper Clips,13

In [4]:
import sqlalchemy
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from dotenv import dotenv_values
import urllib.parse

params = {'db':dotenv_values('TugasAkhir.env')}

db_user = params['db']['MYSQL_USERNAME']
db_password = urllib.parse.quote_plus(params['db']['MYSQL_PASSWORD'])
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

# Buat koneksi ke database MySQL
SQLALCHEMY_DATABASE_URL = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True, pool_pre_ping=True)

# Buat base class untuk ORM
Base = declarative_base()

try:
    # Buat tabel products
    class Products(Base):
        __tablename__ = 'products'
        product_id = Column(Integer, nullable=False)
        product_name = Column(String(50), primary_key=True)
        category = Column(String(50), nullable=False)
        sub_category = Column(String(50), nullable=False)
    
    # Buat tabel users
    class Users(Base):
        __tablename__ = 'users'
        customer_id = Column(Integer, nullable=False)
        name = Column(String(50), primary_key=True)
        city = Column(String(50), nullable=False)
        state = Column(String(50), nullable=False)
        postal = Column(Integer, nullable=False)

    # Buat tabel purchase
    class Purchase(Base):
        __tablename__ = 'purchase'
        name = Column(String(50), nullable=False, primary_key=True)
        date = Column(DateTime, nullable=False)
        product_name = Column(String(50), nullable=False, primary_key=True)
        quantity = Column(Integer, nullable=False)
    
    Base.metadata.create_all(engine)
except Exception as e:
    print(e)

2022-12-23 04:16:29,024 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-23 04:16:29,026 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,029 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-23 04:16:29,029 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,031 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-23 04:16:29,032 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,035 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,036 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:16:29,040 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,040 INFO sqlalchemy.engine.Engine [cached since 0.005303s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:16:29,043 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,043 INFO sqlalchemy.engine.Engine [cached since 0.008358s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:16:29,045 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
# Insert data ke tabel products
df_products.to_sql('products', engine, if_exists='replace', index=False)

# Insert data ke tabel users
df_users.to_sql('users', engine, if_exists='replace', index=False)

# Insert data ke tabel purchase
df_purchase.to_sql('purchase', engine, if_exists='replace', index=False)

2022-12-23 04:16:29,059 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,060 INFO sqlalchemy.engine.Engine [cached since 0.02516s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:16:29,064 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,065 INFO sqlalchemy.engine.Engine [cached since 0.02966s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:16:29,068 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:16:29,069 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,088 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `products`
2022-12-23 04:16:29,089 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,096 INFO sqlalchemy.engine.Engine
DROP TABLE products
2022-12-23 04:16:29,096 INFO sqlalchemy.engine.Engine [no key 0.00152s] {}
2022-12-23 04:16:29,110 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,113 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,116 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id BIGINT,
	product_name TEXT,
	category TEXT,
	sub_category TEXT
)


2022-12-23 04:16:29,117 INFO sqlalchemy.engine.Engine [no key 0.00134s] {}
2022-12-23 04:16:29,128 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,140 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, product_name, category, sub_category) VALUES (%(product_id)s, %(product_name)s, %(category)s, %(sub_category)s)
2022-12-23 04:16:29,142 INFO sqlalchemy.engine.Engine [generated in 0.00889s] ({'product_id': 1, 'product_name': 'Bush Somerset Collection Bookcase', 'category': 'Furniture', 'sub_category': 'Bookcases'}, {'product_id': 2, 'product_name': 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 'category': 'Furniture', 'sub_category': 'Chairs'}, {'product_id': 3, 'product_name': 'Self-Adhesive Address Labels for Typewriters by Universal', 'category': 'Office Supplies', 'sub_category': 'Labels'}, {'product_id': 4, 'product_name': 'Bretford CR4500 Series Slim Rectangular Table', 'category': 'Furniture', 'sub_category': 'Tables'}, {'product_id': 5, 'product_name': "Eldon Fold 'N Roll Cart System", 'category': 'Office Supplies', 'sub_category': 'Storage'}, {'product_id': 6, 'product_name': 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 'category': 'Furniture', 'sub_category': 'Furnishings'}, {'product_id': 7, 'product_name': 'Newell 322', 'category': 'Office Supplies', 'sub_category': 'Art'}, {'product_id': 8, 'product_name': 'Mitel 5320 IP Phone VoIP phone', 'category': 'Technology', 'sub_category': 'Phones'}  ... displaying 10 of 1850 total bound parameter sets ...  {'product_id': 1849, 'product_name': 'LG G2', 'category': 'Technology', 'sub_category': 'Phones'}, {'product_id': 1850, 'product_name': 'Eldon Jumbo ProFile Portable File Boxes Graphite/Black', 'category': 'Office Supplies', 'sub_category': 'Storage'})
2022-12-23 04:16:29,489 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,496 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,496 INFO sqlalchemy.engine.Engine [cached since 0.4618s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:16:29,500 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,500 INFO sqlalchemy.engine.Engine [cached since 0.4659s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:16:29,504 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:16:29,505 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,508 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `users`
2022-12-23 04:16:29,509 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,512 INFO sqlalchemy.engine.Engine
DROP TABLE users
2022-12-23 04:16:29,513 INFO sqlalchemy.engine.Engine [no key 0.00091s] {}
2022-12-23 04:16:29,518 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,521 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	customer_id BIGINT,
	name TEXT,
	city TEXT,
	state TEXT,
	postal BIGINT
)


2022-12-23 04:16:29,523 INFO sqlalchemy.engine.Engine [no key 0.00237s] {}
2022-12-23 04:16:29,534 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,540 INFO sqlalchemy.engine.Engine INSERT INTO users (customer_id, name, city, state, postal) VALUES (%(customer_id)s, %(name)s, %(city)s, %(state)s, %(postal)s)
2022-12-23 04:16:29,541 INFO sqlalchemy.engine.Engine [generated in 0.00362s] ({'customer_id': 1, 'name': 'Claire Gute', 'city': 'Fremont', 'state': 'Nebraska', 'postal': 68025}, {'customer_id': 2, 'name': "Sean O'Donnell", 'city': 'Provo', 'state': 'Utah', 'postal': 84604}, {'customer_id': 3, 'name': 'Brosina Hoffman', 'city': 'Keller', 'state': 'Texas', 'postal': 76248}, {'customer_id': 4, 'name': 'Andrew Allen', 'city': 'Harlingen', 'state': 'Texas', 'postal': 78550}, {'customer_id': 5, 'name': 'Irene Maddox', 'city': 'Kenner', 'state': 'Louisiana', 'postal': 70065}, {'customer_id': 6, 'name': 'Pete Kriz', 'city': 'Santa Ana', 'state': 'California', 'postal': 92704}, {'customer_id': 7, 'name': 'Alejandro Grove', 'city': 'Pharr', 'state': 'Texas', 'postal': 78577}, {'customer_id': 8, 'name': 'Zuschuss Donatelli', 'city': 'Taylor', 'state': 'Michigan', 'postal': 48180}  ... displaying 10 of 409 total bound parameter sets ...  {'customer_id': 408, 'name': 'Ricardo Emerson', 'city': 'Jackson', 'state': 'Michigan', 'postal': 49201}, {'customer_id': 409, 'name': 'Susan MacKendrick', 'city': 'Rogers', 'state': 'Arkansas', 'postal': 72756})
2022-12-23 04:16:29,619 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,624 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,624 INFO sqlalchemy.engine.Engine [cached since 0.5888s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:16:29,627 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:16:29,628 INFO sqlalchemy.engine.Engine [cached since 0.5929s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:16:29,631 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:16:29,632 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,634 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `purchase`
2022-12-23 04:16:29,635 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:16:29,637 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,638 INFO sqlalchemy.engine.Engine
DROP TABLE purchase
2022-12-23 04:16:29,639 INFO sqlalchemy.engine.Engine [no key 0.00115s] {}
2022-12-23 04:16:29,646 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,650 INFO sqlalchemy.engine.Engine
CREATE TABLE purchase (
	date TEXT,
	name TEXT,
	product_name TEXT,
	quantity BIGINT
)


2022-12-23 04:16:29,651 INFO sqlalchemy.engine.Engine [no key 0.00113s] {}
2022-12-23 04:16:29,662 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:16:29,664 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:16:29,669 INFO sqlalchemy.engine.Engine INSERT INTO purchase (date, name, product_name, quantity) VALUES (%(date)s, %(name)s, %(product_name)s, %(quantity)s)
2022-12-23 04:16:29,669 INFO sqlalchemy.engine.Engine [generated in 0.00362s] ({'date': '25-10-2021', 'name': 'Matt Collins', 'product_name': 'Bevis 44 x 96 Conference Tables', 'quantity': 14}, {'date': '04-11-2020', 'name': 'Lena Cacioppo', 'product_name': 'HTC One Mini', 'quantity': 8}, {'date': '19-03-2022', 'name': 'Max Jones', 'product_name': 'Acco Suede Grain Vinyl Round Ring Binder', 'quantity': 8}, {'date': '08-04-2020', 'name': 'Dan Lawera', 'product_name': 'Global Deluxe High-Back Office Chair in Storm', 'quantity': 12}, {'date': '28-05-2020', 'name': 'Liz Preis', 'product_name': 'Avery Trapezoid Ring Binder, 3" Capacity, Black, 1040 sheets', 'quantity': 7}, {'date': '11-07-2020', 'name': 'James Galang', 'product_name': 'Tennsco Commercial Shelving', 'quantity': 11}, {'date': '18-01-2022', 'name': 'Nora Paige', 'product_name': '3-ring staple pack', 'quantity': 25}, {'date': '28-04-2020', 'name': 'Doug Bickford', 'product_name': 'Elite 5" Scissors', 'quantity': 14}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '05-03-2020', 'name': 'Shui Tom', 'product_name': 'Martin Yale Chadless Opener Electric Letter Opener', 'quantity': 18}, {'date': '12-10-2022', 'name': 'Keith Herrera', 'product_name': 'Advantus T-Pin Paper Clips', 'quantity': 13})
2022-12-23 04:16:29,850 INFO sqlalchemy.engine.Engine COMMIT

-1

In [6]:
# Buat Session
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

In [7]:
conn.execute('select * from users').all()

2022-12-23 04:16:29,880 INFO sqlalchemy.engine.Engine select * from users
2022-12-23 04:16:29,881 INFO sqlalchemy.engine.Engine [raw sql] {}

[(1, 'Claire Gute', 'Fremont', 'Nebraska', 68025),
 (2, "Sean O'Donnell", 'Provo', 'Utah', 84604),
 (3, 'Brosina Hoffman', 'Keller', 'Texas', 76248),
 (4, 'Andrew Allen', 'Harlingen', 'Texas', 78550),
 (5, 'Irene Maddox', 'Kenner', 'Louisiana', 70065),
 (6, 'Pete Kriz', 'Santa Ana', 'California', 92704),
 (7, 'Alejandro Grove', 'Pharr', 'Texas', 78577),
 (8, 'Zuschuss Donatelli', 'Taylor', 'Michigan', 48180),
 (9, 'Sandra Flanagan', 'New Rochelle', 'New York', 10801),
 (10, 'Emily Burns', 'Oswego', 'Illinois', 60543),
 (11, 'Eric Hoffmann', 'Santa Barbara', 'California', 93101),
 (12, 'Tracy Blumstein', 'Lorain', 'Ohio', 44052),
 (13, "Patrick O'Donnell", 'Bloomington', 'Illinois', 61701),
 (14, 'Lena Hernandez', 'Atlanta', 'Georgia', 30318),
 (15, 'Darren Powers', 'Moreno Valley', 'California', 92553),
 (16, 'Ted Butterfield', 'Redlands', 'California', 92374),
 (17, 'Kunst Miller', 'Philadelphia', 'Pennsylvania', 19140),
 (18, 'Karen Daniels', 'Park Ridge', 'Illinois', 60068),
 (19, 'Henry MacAllister', 'Waco', 'Texas', 76706),
 (20, 'Joel Eaton', 'Troy', 'New York', 12180),
 (21, 'Duane Noonan', 'Austin', 'Texas', 78745),
 (22, 'Paul Gonzalez', 'Lancaster', 'California', 93534),
 (23, 'Karl Braun', 'Florence', 'Kentucky', 41042),
 (24, 'Katherine Ducich', 'Deltona', 'Florida', 32725),
 (25, 'Gary Zandusky', 'Denver', 'Colorado', 80219),
 (26, 'Lena Cacioppo', 'Cleveland', 'Ohio', 44105),
 (27, 'Janet Martin', 'Mount Vernon', 'New York', 10550),
 (28, 'Clay Ludtke', 'Madison', 'Wisconsin', 53711),
 (29, 'Ryan Crowe', 'Harrisonburg', 'Virginia', 22801),
 (30, 'Dave Kipp', 'Roseville', 'California', 95661),
 (31, 'Steven Cartwright', 'Saint Louis', 'Missouri', 63116),
 (32, 'Philip Fox', 'Miramar', 'Florida', 33023),
 (33, 'Troy Staebel', 'Lake Charles', 'Louisiana', 70601),
 (34, 'Lena Creighton', 'Columbus', 'Ohio', 43229),
 (35, 'Sandra Glassco', 'Monroe', 'Louisiana', 71203),
 (36, 'Helen Andreada', 'Buffalo', 'New York', 14215),
 (37, 'Dave Brooks', 'Columbia', 'South Carolina', 29203),
 (38, 'Nora Paige', 'Redondo Beach', 'California', 90278),
 (39, 'Ted Trevino', 'Dallas', 'Texas', 75220),
 (40, 'Eric Murdock', 'Hamilton', 'Ohio', 45011),
 (41, 'Ruben Dartt', 'Eagan', 'Minnesota', 55122),
 (42, 'Max Jones', 'Commerce City', 'Colorado', 80022),
 (43, 'Becky Martin', 'Freeport', 'New York', 11520),
 (44, 'Chad Sievert', 'Denver', 'Colorado', 80219),
 (45, 'Shirley Jackson', 'Visalia', 'California', 93277),
 (46, 'Sally Knutson', 'Pensacola', 'Florida', 32503),
 (47, 'Cassandra Brandow', 'Kirkwood', 'Missouri', 63122),
 (48, 'Maria Bertelson', 'Hempstead', 'New York', 11550),
 (49, 'Bruce Stewart', 'Kenosha', 'Wisconsin', 53142),
 (50, 'Logan Currie', 'Sacramento', 'California', 95823),
 (51, 'Laurel Elliston', 'Ormond Beach', 'Florida', 32174),
 (52, 'Joseph Holt', 'Tempe', 'Arizona', 85281),
 (53, 'Jonathan Howell', 'Camarillo', 'California', 93010),
 (54, 'Joni Blumstein', 'North Charleston', 'South Carolina', 29406),
 (55, 'Valerie Dominguez', 'Rome', 'New York', 13440),
 (56, 'Ken Lonsdale', 'Hendersonville', 'Tennessee', 37075),
 (57, 'Logan Haushalter', 'Medina', 'Ohio', 44256),
 (58, 'Kelly Collister', 'Delray Beach', 'Florida', 33445),
 (59, 'Delfina Latchford', 'Boise', 'Idaho', 83704),
 (60, 'Craig Carreira', 'Vacaville', 'California', 95687),
 (61, 'Roy Collins', 'Little Rock', 'Arkansas', 72209),
 (62, 'Alan Hwang', 'North Charleston', 'South Carolina', 29406),
 (63, "Jas O'Carroll", 'Owensboro', 'Kentucky', 42301),
 (64, 'Shahid Hopkins', 'Pasadena', 'California', 91104),
 (65, "Patrick O'Brill", 'Pensacola', 'Florida', 32503),
 (66, 'John Lucas', 'Naperville', 'Illinois', 60540),
 (67, 'Doug Bickford', 'Sterling Heights', 'Michigan', 48310),
 (68, 'Clay Cheatham', 'North Charleston', 'South Carolina', 29406),
 (69, 'Tamara Dahlen', 'Chester', 'Pennsylvania', 19013),
 (70, 'Jeremy Lonsdale', 'Lakeville', 'Minnesota', 55044),
 (71, 'Katrina Willman', 'Parma', 'Ohio', 44134),
 (72, 'Julia Dunbar', 'Kissimmee', 'Florida', 34741),
 (73, 'Guy Thornton', 'Hickory', 'North Carolina', 28601),
 (74, 'Arthur Gainer', 'Alexandria', 'Virginia', 22304),
 (75, 'Russell Applegate', 'Gresham', 'Oregon', 97030),
 (76, 'Denny Ordway', 'Frisco', 'Texas', 75034),
 (77, 'Nathan Gelder', 'San Antonio', 'Texas', 78207),
 (78, 'Mike Vittorini', 'Lake Charles', 'Louisiana', 70601),
 (79, 'Jack Garza', 'Bowling Green', 'Ohio', 43402),
 (80, 'Anna Gayman', 'Port Saint Lucie', 'Florida', 34952),
 (81, 'Luke Foster', 'Coon Rapids', 'Minnesota', 55433),
 (82, 'Roy Französisch', 'Franklin', 'Massachusetts', 2038),
 (83, 'Keith Herrera', 'Chico', 'California', 95928),
 (84, 'Caroline Jumper', 'Cottage Grove', 'Minnesota', 55016),
 (85, 'Philip Brown', 'Greenville', 'North Carolina', 27834),
 (86, 'Natalie Fritzler', 'Charlotte', 'North Carolina', 28205),
 (87, 'Mike Kennedy', 'Las Cruces', 'New Mexico', 88001),
 (88, 'Troy Blackwell', 'North Charleston', 'South Carolina', 29406),
 (89, 'Raymond Buch', 'Coon Rapids', 'Minnesota', 55433),
 (90, 'Sanjit Chand', 'Romeoville', 'Illinois', 60441),
 (91, 'Jeremy Pistek', 'Troy', 'New York', 12180),
 (92, 'Jeremy Ellison', 'Edmonds', 'Washington', 98026),
 (93, 'Xylona Preis', 'Detroit', 'Michigan', 48227),
 (94, 'Erin Mull', 'Apopka', 'Florida', 32712),
 (95, 'Sue Ann Reed', 'Plantation', 'Florida', 33317),
 (96, 'Astrea Jones', 'Mcallen', 'Texas', 78501),
 (97, 'Sonia Sunley', 'Pasadena', 'California', 91104),
 (98, "Rose O'Brian", 'Broomfield', 'Colorado', 80020),
 (99, 'Maribeth Dona', 'Belleville', 'New Jersey', 7109),
 (100, 'Christopher Martinez', 'Marion', 'Ohio', 43302),
 (101, 'Lynn Smith', 'El Paso', 'Texas', 79907),
 (102, 'Bradley Nguyen', 'Englewood', 'Colorado', 80112),
 (103, 'Dean Braden', 'Buffalo Grove', 'Illinois', 60089),
 (104, 'Brian Dahlen', 'Charlotte', 'North Carolina', 28205),
 (105, 'Mike Gockenbach', 'Texas City', 'Texas', 77590),
 (106, 'Jasper Cacioppo', 'Renton', 'Washington', 98059),
 (107, 'Rob Lucas', 'Beaumont', 'Texas', 77705),
 (108, 'Allen Armold', 'Hot Springs', 'Arkansas', 71901),
 (109, 'Emily Phan', 'Waynesboro', 'Virginia', 22980),
 (110, 'Darren Koutras', 'Farmington', 'New Mexico', 87401),
 (111, 'Bradley Drucker', 'Taylor', 'Michigan', 48180),
 (112, 'Liz MacKendrick', 'Irving', 'Texas', 75061),
 (113, 'Bill Donatelli', 'Hialeah', 'Florida', 33012),
 (114, 'Greg Tran', 'Reading', 'Pennsylvania', 19601),
 (115, 'Ashley Jarboe', 'Chandler', 'Arizona', 85224),
 (116, 'Olvera Toch', 'Smyrna', 'Tennessee', 37167),
 (117, 'Liz Pelletier', 'North Charleston', 'South Carolina', 29406),
 (118, 'Cynthia Arntzen', 'Chattanooga', 'Tennessee', 37421),
 (119, 'Jeremy Farry', 'Kenner', 'Louisiana', 70065),
 (120, 'Frank Preis', 'Bloomington', 'Illinois', 61701),
 (121, 'Jennifer Ferguson', 'Murrieta', 'California', 92563),
 (122, 'Sarah Foster', 'Cedar Rapids', 'Iowa', 52402),
 (123, 'Trudy Glocke', 'Broomfield', 'Colorado', 80020),
 (124, 'Carlos Soltero', 'Frisco', 'Texas', 75034),
 (125, 'Charles Crestani', 'San Francisco', 'California', 94109),
 (126, 'Dianna Vittorini', 'Commerce City', 'Colorado', 80022),
 (127, 'Bruce Degenhardt', 'West Palm Beach', 'Florida', 33407),
 (128, 'Zuschuss Carroll', 'East Orange', 'New Jersey', 7017),
 (129, 'Melanie Seite', 'Phoenix', 'Arizona', 85023),
 (130, 'Lena Radford', 'Nashua', 'New Hampshire', 3060),
 (131, 'Theone Pippenger', 'Encinitas', 'California', 92024),
 (132, 'Chloris Kastensmidt', 'Kenosha', 'Wisconsin', 53142),
 (133, 'Alan Shonely', 'Medford', 'Oregon', 97504),
 (134, 'Andrew Roberts', 'Virginia Beach', 'Virginia', 23464),
 (135, 'Clytie Kelty', 'Marietta', 'Georgia', 30062),
 (136, 'Christina Anderson', 'Austin', 'Texas', 78745),
 (137, 'Annie Thurman', 'Hempstead', 'New York', 11550),
 (138, 'Fred McMath', 'Atlanta', 'Georgia', 30318),
 (139, 'Max Engle', 'Fresno', 'California', 93727),
 (140, 'John Lee', 'Plano', 'Texas', 75023),
 (141, 'Sean Christensen', 'Lancaster', 'California', 93534),
 (142, 'Craig Reiter', 'Kenosha', 'Wisconsin', 53142),
 (143, 'Resi Pölking', 'Littleton', 'Colorado', 80122),
 (144, 'Rob Beeghly', 'Albuquerque', 'New Mexico', 87105),
 (145, 'Carol Darley', 'Chandler', 'Arizona', 85224),
 (146, 'Doug Jacobs', 'San Angelo', 'Texas', 76903),
 (147, 'Michael Chen', 'Portland', 'Oregon', 97206),
 (148, 'Ralph Arnett', 'Tigard', 'Oregon', 97224),
 (149, 'Naresj Patel', 'Highland Park', 'Illinois', 60035),
 (150, 'Alan Barnes', 'Hagerstown', 'Maryland', 21740),
 (151, 'Jay Kimmel', 'Newport News', 'Virginia', 23602),
 (152, 'David Philippe', 'Sparks', 'Nevada', 89431),
 (153, 'Arthur Prichep', 'Lancaster', 'California', 93534),
 (154, 'Seth Vernon', 'Pine Bluff', 'Arkansas', 71603),
 (155, 'Jay Fein', 'Tigard', 'Oregon', 97224),
 (156, 'Emily Grady', 'Naperville', 'Illinois', 60540),
 (157, 'Sung Shariari', 'Margate', 'Florida', 33063),
 (158, 'Peter Bühler', 'Troy', 'New York', 12180),
 (159, 'Roland Fjeld', 'Marlborough', 'Massachusetts', 1752),
 (160, 'Debra Catini', 'Wausau', 'Wisconsin', 54401),
 (161, 'Lisa Hazard', 'Mount Vernon', 'New York', 10550),
 (162, 'Dan Lawera', 'Pembroke Pines', 'Florida', 33024),
 (163, 'Bryan Mills', 'Mission Viejo', 'California', 92691),
 (164, 'Liz Thompson', 'Chesapeake', 'Virginia', 23320),
 (165, 'Joe Kamberova', 'San Angelo', 'Texas', 76903),
 (166, 'Erica Smith', 'Huntington Beach', 'California', 92646),
 (167, 'Rick Hansen', 'Margate', 'Florida', 33063),
 (168, 'Carlos Daly', 'Beaumont', 'Texas', 77705),
 (169, 'Gary McGarr', 'Hialeah', 'Florida', 33012),
 (170, 'Pauline Johnson', 'Montgomery', 'Alabama', 36116),
 (171, 'Toby Ritter', 'Bullhead City', 'Arizona', 86442),
 (172, 'Patrick Gardner', 'Encinitas', 'California', 92024),
 (173, 'Art Foster', 'Washington', 'District of Columbia', 20016),
 (174, 'Guy Armstrong', 'Suffolk', 'Virginia', 23434),
 (175, 'Berenike Kampe', 'Virginia Beach', 'Virginia', 23464),
 (176, 'Chuck Magee', 'Cottage Grove', 'Minnesota', 55016),
 (177, 'Sally Matthias', 'Lowell', 'Massachusetts', 1852),
 (178, 'Lauren Leatherbury', 'Concord', 'North Carolina', 28027),
 (179, 'Hunter Lopez', 'Fairfield', 'Connecticut', 6824),
 (180, 'Maribeth Schnelling', 'Fort Lauderdale', 'Florida', 33311),
 (181, 'Sanjit Engle', 'Midland', 'Michigan', 48640),
 (182, 'Jessica Myrick', 'Margate', 'Florida', 33063),
 (183, 'Ralph Kennedy', 'Bethlehem', 'Pennsylvania', 18018),
 (184, 'Katherine Hughes', 'Florence', 'Kentucky', 41042),
 (185, 'Greg Hansen', 'Mesa', 'Arizona', 85204),
 (186, 'Scott Williamson', 'Spokane', 'Washington', 99207),
 (187, 'Joseph Airdo', 'Goldsboro', 'North Carolina', 27534),
 (188, 'Daniel Lacy', 'Waco', 'Texas', 76706),
 (189, 'Robert Waldorf', 'Buffalo Grove', 'Illinois', 60089),
 (190, 'Tracy Zic', 'Harlingen', 'Texas', 78550),
 (191, 'Toby Swindell', 'Arlington', 'Virginia', 22204),
 (192, 'Rob Dowd', 'Rochester Hills', 'Michigan', 48307),
 (193, 'Ryan Akin', 'Woonsocket', 'Rhode Island', 2895),
 (194, 'Meg Tillman', 'Longmont', 'Colorado', 80501),
 (195, 'Vivek Gonzalez', 'Lowell', 'Massachusetts', 1852),
 (196, 'John Stevenson', 'Longview', 'Washington', 98632),
 (197, 'Allen Goldenen', 'Bloomington', 'Illinois', 61701),
 (198, 'Jennifer Jackson', 'College Station', 'Texas', 77840),
 (199, 'Jennifer Halladay', 'Midland', 'Michigan', 48640),
 (200, "Mary O'Rourke", 'Pueblo', 'Colorado', 81001),
 (201, 'Brian DeCherney', 'Andover', 'Massachusetts', 1810),
 (202, 'Charles McCrossin', 'Franklin', 'Massachusetts', 2038),
 (203, 'Frank Olsen', 'Waterloo', 'Iowa', 50701),
 (204, 'Maurice Satty', 'Kirkwood', 'Missouri', 63122),
 (205, 'Don Weiss', 'Rock Hill', 'South Carolina', 29730),
 (206, 'Neoma Murray', 'Jonesboro', 'Arkansas', 72401),
 (207, 'Christine Sundaresam', 'Jackson', 'Michigan', 49201),
 (208, 'Nat Carroll', 'Arlington Heights', 'Illinois', 60004),
 (209, 'Alex Avila', 'Evanston', 'Illinois', 60201),
 (210, 'Larry Tron', 'Austin', 'Texas', 78745),
 (211, 'Paul MacIntyre', 'Chandler', 'Arizona', 85224),
 (212, 'Larry Hughes', 'Layton', 'Utah', 84041),
 (213, 'Kean Thornton', 'Everett', 'Massachusetts', 2149),
 (214, 'Greg Matthias', 'Knoxville', 'Tennessee', 37918),
 (215, 'Eva Jacobs', 'Lake Forest', 'California', 92630),
 (216, 'Nora Preis', 'Vineland', 'New Jersey', 8360),
 (217, 'Jocasta Rupert', 'New Rochelle', 'New York', 10801),
 (218, 'Chris Cortes', 'Commerce City', 'Colorado', 80022),
 (219, 'Phillip Flathmann', 'Quincy', 'Illinois', 62301),
 (220, 'Dan Campbell', 'Hendersonville', 'Tennessee', 37075),
 (221, 'Bryan Davis', 'Fargo', 'North Dakota', 58103),
 (222, 'Gene McClure', 'Dearborn Heights', 'Michigan', 48127),
 (223, 'Justin Hirsh', 'Denver', 'Colorado', 80219),
 (224, 'Chuck Sachs', 'Sioux Falls', 'South Dakota', 57103),
 (225, 'Matt Collins', 'Chesapeake', 'Virginia', 23320),
 (226, 'Liz Preis', 'Plantation', 'Florida', 33317),
 (227, 'Evan Bailliet', 'Parma', 'Ohio', 44134),
 (228, 'Lisa DeCherney', 'Indianapolis', 'Indiana', 46203),
 (229, 'Michael Nguyen', 'Rock Hill', 'South Carolina', 29730),
 (230, 'Jim Radford', 'Charlotte', 'North Carolina', 28205),
 (231, 'Jamie Frazer', 'Holland', 'Michigan', 49423),
 (232, 'Chad McGuire', 'Greenville', 'North Carolina', 27834),
 (233, 'Beth Paige', 'Garden City', 'Kansas', 67846),
 (234, 'Natalie DeCherney', 'Akron', 'Ohio', 44312),
 (235, 'Larry Blacks', 'Oklahoma City', 'Oklahoma', 73120),
 (236, 'Kean Takahito', 'North Miami', 'Florida', 33161),
 (237, 'Adrian Barton', 'Everett', 'Massachusetts', 2149),
 (238, 'Helen Abelman', 'Waco', 'Texas', 76706),
 (239, 'Shui Tom', 'Greeley', 'Colorado', 80634),
 (240, 'Michael Moore', 'Sandy Springs', 'Georgia', 30328),
 (241, 'Thais Sissman', 'Hagerstown', 'Maryland', 21740),
 (242, 'Mick Brown', 'Cedar Hill', 'Texas', 75104),
 (243, 'Cindy Stewart', 'Albuquerque', 'New Mexico', 87105),
 (244, 'Maxwell Schwartz', 'Lubbock', 'Texas', 79424),
 (245, 'Corey-Lock', 'Plano', 'Texas', 75023),
 (246, 'John Dryer', 'Cottage Grove', 'Minnesota', 55016),
 (247, 'Andy Reiter', 'Henderson', 'Kentucky', 42420),
 (248, 'Arianne Irving', 'Sandy Springs', 'Georgia', 30328),
 (249, 'Tom Boeckenhauer', 'Pearland', 'Texas', 77581),
 (250, 'Gary Hwang', 'Rockville', 'Maryland', 20852),
 (251, 'Carl Ludwig', 'Marlborough', 'Massachusetts', 1752),
 (252, 'Ivan Gibson', 'Orlando', 'Florida', 32839),
 (253, 'Bobby Odegard', 'Stockton', 'California', 95207),
 (254, 'Aimee Bixby', 'Evanston', 'Illinois', 60201),
 (255, 'Julia West', 'Johnson City', 'Tennessee', 37604),
 (256, 'Sheri Gordon', 'Bolingbrook', 'Illinois', 60440),
 (257, 'Charlotte Melton', 'Roswell', 'Georgia', 30076),
 (258, 'Anthony Witt', 'Provo', 'Utah', 84604),
 (259, 'Mick Crebagga', 'Abilene', 'Texas', 79605),
 (260, 'Rick Duston', 'Alexandria', 'Virginia', 22304),
 (261, 'Jenna Caffey', 'Passaic', 'New Jersey', 7055),
 (262, 'James Galang', 'Chandler', 'Arizona', 85224),
 (263, 'Marc Crier', 'Evanston', 'Illinois', 60201),
 (264, 'Natalie Webber', 'Trenton', 'Michigan', 48183),
 (265, 'Toby Braunhardt', 'Jackson', 'Michigan', 49201),
 (266, 'Christina DeMoss', 'Greenville', 'North Carolina', 27834),
 (267, 'Thea Hendricks', 'Deltona', 'Florida', 32725),
 (268, 'Michelle Moray', 'Allen', 'Texas', 75002),
 (269, 'Neola Schneider', 'Passaic', 'New Jersey', 7055),
 (270, 'Shaun Weien', 'Apopka', 'Florida', 32712),
 (271, 'Eric Barreto', 'Portland', 'Oregon', 97206),
 (272, 'Pamela Stobb', 'Tempe', 'Arizona', 85281),
 (273, 'Herbert Flentye', 'Nashua', 'New Hampshire', 3060),
 (274, 'Henia Zydlo', 'Lakeville', 'Minnesota', 55044),
 (275, 'Jamie Kunitz', 'Lebanon', 'Tennessee', 37087),
 (276, 'Joni Wasserman', 'Providence', 'Rhode Island', 2908),
 (277, 'Raymond Messe', 'Denver', 'Colorado', 80219),
 (278, 'Craig Carroll', 'Little Rock', 'Arkansas', 72209),
 (279, 'Jill Fjeld', 'Bowling Green', 'Ohio', 43402),
 (280, 'Brian Thompson', 'Palm Coast', 'Florida', 32137),
 (281, 'Janet Lee', 'Kent', 'Washington', 98031),
 (282, 'Giulietta Weimer', 'Redlands', 'California', 92374),
 (283, 'Benjamin Patterson', 'Stockton', 'California', 95207),
 (284, 'John Castell', 'Lowell', 'Massachusetts', 1852),
 (285, 'Adam Shillingsburg', 'Rockford', 'Illinois', 61107),
 (286, 'Amy Cox', 'Royal Oak', 'Michigan', 48073),
 (287, 'Duane Benoit', 'Rochester Hills', 'Michigan', 48307),
 (288, 'Erica Hackney', 'Deltona', 'Florida', 32725),
 (289, 'Joe Elijah', 'Wilmington', 'Delaware', 19805),
 (290, 'Joy Daniels', 'Freeport', 'New York', 11520),
 (291, 'Christy Brittain', 'Frisco', 'Texas', 75034),
 (292, 'Joy Smith', 'Bowling Green', 'Ohio', 43402),
 (293, 'Luke Weiss', 'Harlingen', 'Texas', 78550),
 (294, 'Stuart Calhoun', 'Frisco', 'Texas', 75034),
 (295, 'Anne McFarland', 'Miramar', 'Florida', 33023),
 (296, 'Carol Triggs', 'Atlanta', 'Georgia', 30318),
 (297, 'Kelly Andreada', 'Commerce City', 'Colorado', 80022),
 (298, 'Bart Folk', 'Palm Coast', 'Florida', 32137),
 (299, 'Magdelene Morse', 'Fort Worth', 'Texas', 76106),
 (300, 'Ben Wallace', 'Decatur', 'Illinois', 62521),
 (301, 'Scot Wooten', 'Monroe', 'Louisiana', 71203),
 (302, 'Brian Stugart', 'Alexandria', 'Virginia', 22304),
 (303, 'William Brown', 'Pensacola', 'Florida', 32503),
 (304, 'Trudy Brown', 'Murray', 'Kentucky', 42071),
 (305, 'Art Ferguson', 'Paterson', 'New Jersey', 7501),
 (306, 'Richard Bierner', 'Grand Prairie', 'Texas', 75051),
 (307, 'John Huston', 'Glendale', 'Arizona', 85301),
 (308, 'Ivan Liston', 'La Porte', 'Indiana', 46350),
 (309, 'Rob Haberlin', 'Ormond Beach', 'Florida', 32174),
 (310, 'Maris LaWare', 'Camarillo', 'California', 93010),
 (311, 'Dennis Kane', 'Beaumont', 'Texas', 77705),
 (312, 'Bobby Trafton', 'Madison', 'Wisconsin', 53711),
 (313, 'Denny Blanton', 'Escondido', 'California', 92025),
 (314, 'Toby Gnade', 'Austin', 'Texas', 78745),
 (315, 'Justin MacKendrick', 'Lorain', 'Ohio', 44052),
 (316, 'Mitch Webber', 'Milford', 'Connecticut', 6460),
 (317, 'Mark Van Huff', 'Sierra Vista', 'Arizona', 85635),
 (318, 'Tom Prescott', 'Utica', 'New York', 13501),
 (319, 'Jim Karlsson', 'Fargo', 'North Dakota', 58103),
 (320, 'Susan Vittorini', 'Omaha', 'Nebraska', 68104),
 (321, 'Kelly Williams', 'Indianapolis', 'Indiana', 46203),
 (322, 'Christina VanderZanden', 'Waukesha', 'Wisconsin', 53186),
 (323, 'Speros Goranitis', 'Yonkers', 'New York', 10701),
 (324, 'Tamara Manning', 'Hattiesburg', 'Mississippi', 39401),
 (325, 'Annie Zypern', 'Temecula', 'California', 92592),
 (326, 'Pierre Wener', 'Nashville', 'Tennessee', 37211),
 (327, 'Shahid Collister', 'Stockton', 'California', 95207),
 (328, 'Carlos Meador', 'Salt Lake City', 'Utah', 84106),
 (329, 'Tim Brockman', 'Scottsdale', 'Arizona', 85254),
 (330, 'John Murray', 'Homestead', 'Florida', 33030),
 (331, 'Sonia Cooley', 'Coppell', 'Texas', 75019),
 (332, 'Ralph Ritter', 'Warner Robins', 'Georgia', 31088),
 (333, 'Thomas Thornton', 'Miramar', 'Florida', 33023),
 (334, 'Brian Derr', 'Redmond', 'Oregon', 97756),
 (335, 'Chris McAfee', 'Roseville', 'California', 95661),
 (336, 'Edward Nazzal', 'Boca Raton', 'Florida', 33433),
 (337, 'Jason Fortune-', 'Cottage Grove', 'Minnesota', 55016),
 (338, 'Sarah Bern', 'Clovis', 'New Mexico', 88101),
 (339, 'Hunter Glantz', 'Fort Worth', 'Texas', 76106),
 (340, 'Toby Carlisle', 'Lake Forest', 'California', 92630),
 (341, 'Stewart Visinsky', 'New Rochelle', 'New York', 10801),
 (342, 'Bobby Elias', 'Brownsville', 'Texas', 78521),
 (343, 'David Flashing', 'Atlanta', 'Georgia', 30318),
 (344, 'Fred Harton', 'Boynton Beach', 'Florida', 33437),
 (345, 'MaryBeth Skach', 'Rancho Cucamonga', 'California', 91730),
 (346, 'Ritsa Hightower', 'Chicago', 'Illinois', 60610),
 (347, 'George Ashbrook', 'Houston', 'Texas', 77070),
 (348, 'Michael Oakman', 'Tallahassee', 'Florida', 32303),
 (349, 'Denise Leinenbach', 'Denver', 'Colorado', 80219),
 (350, 'Michelle Huthwaite', 'Belleville', 'New Jersey', 7109),
 (351, 'Darrin Martin', 'Medina', 'Ohio', 44256),
 (352, 'Anna Chung', 'San Mateo', 'California', 94403),
 (353, 'Christopher Conant', 'Kirkwood', 'Missouri', 63122),

In [ ]:
import pandas as pd
import random
random.seed(7)
from datetime import datetime, timedelta
import urllib.parse
from dotenv import dotenv_values

import sqlalchemy
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base

from fastapi import FastAPI, File, UploadFile
import uvicorn
import nest_asyncio
nest_asyncio.apply()

params = {'db':dotenv_values('TugasAkhir.env')}

db_user = params['db']['MYSQL_USERNAME']
db_password = urllib.parse.quote_plus(params['db']['MYSQL_PASSWORD'])
db_host = params['db']['MYSQL_HOST']
db_port = params['db']['MYSQL_PORT']
db_name = params['db']['MYSQL_DB']

# Buat koneksi ke database MySQL
SQLALCHEMY_DATABASE_URL = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True, pool_pre_ping=True)

# Membuat tanggal acak
def random_tanggal():
    # Set the start and end dates
    start_date = datetime(2020, 1, 1)
    end_date = datetime(2022, 12, 17)
    # Generate a random date between the start and end dates
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    # Convert the random date to a string in the DD--MM-YYYY format
    formatted_date = random_date.strftime("%d-%m-20%y")
    return formatted_date

# Buat base class untuk ORM
Base = declarative_base()

try:
    # Buat tabel products
    class Products(Base):
        __tablename__ = 'products'
        product_id = Column(Integer, nullable=False)
        product_name = Column(String(50), primary_key=True)
        category = Column(String(50), nullable=False)
        sub_category = Column(String(50), nullable=False)

    # Buat tabel users
    class Users(Base):
        __tablename__ = 'users'
        customer_id = Column(Integer, nullable=False)
        name = Column(String(50), primary_key=True)
        city = Column(String(50), nullable=False)
        state = Column(String(50), nullable=False)
        postal = Column(Integer, nullable=False)

    # Buat tabel purchase
    class Purchase(Base):
        __tablename__ = 'purchase'
        name = Column(String(50), nullable=False, primary_key=True)
        date = Column(DateTime, nullable=False)
        product_name = Column(String(50), nullable=False, primary_key=True)
        quantity = Column(Integer, nullable=False)

    Base.metadata.create_all(engine)
except Exception as e:
    print(e)        

app = FastAPI()

def tabel_sql_jadi(users_csv,products_csv):
    df_users = pd.read_csv(users_csv.file)
    df_products = pd.read_csv(products_csv.file, sep=';', encoding='latin-1')
    df_products.columns = ['product_id', 'product_name', 'category', 'sub_category']

    n = 1000 #banyaknya kolom tabel purchase

    df_purchase = pd.DataFrame({'date':[random_tanggal() for i in range(n)],
                         'name':[random.choices(df_users['name'])[0] for i in range(n)], 
                         'product_name':[random.choices(df_products['product_name'])[0] for i in range(n)],
                         'quantity':[random.randint(1,25) for i in range(n)]
                        })
    
    # Insert data ke tabel products
    df_products.to_sql('products', engine, if_exists='replace', index=False)

    # Insert data ke tabel users
    df_users.to_sql('users', engine, if_exists='replace', index=False)

    # Insert data ke tabel purchase
    df_purchase.to_sql('purchase', engine, if_exists='replace', index=False)
    
# Buat Session
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

# Menampilkan isi dari tabel (users, products, purchase)
@app.post("/tabel/{nama_tabel}")
async def tampilkan_isi_tabel(users_csvfile: UploadFile = File(...), 
                          products_csvfile: UploadFile = File(...),
                          nama_tabel = None
                         ):
    tabel_sql_jadi(users_csvfile,products_csvfile)
    
    return conn.execute(f'select * from {nama_tabel.lower()}').all()
        
if __name__ == "__main__":
    uvicorn.run(app)

2022-12-23 04:25:26,621 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-23 04:25:26,623 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:26,625 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-23 04:25:26,626 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:26,628 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-23 04:25:26,629 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:26,631 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:26,633 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:26,634 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:25:26,637 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:26,637 INFO sqlalchemy.engine.Engine [cached since 0.004646s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:25:26,639 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:26,640 INFO sqlalchemy.engine.Engine [cached since 0.007489s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:25:26,643 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id INTEGER NOT NULL,
	product_name VARCHAR(50) NOT NULL,
	category VARCHAR(50) NOT NULL,
	sub_category VARCHAR(50) NOT NULL,
	PRIMARY KEY (product_name)
)


2022-12-23 04:25:26,643 INFO sqlalchemy.engine.Engine [no key 0.00091s] {}
2022-12-23 04:25:26,661 INFO sqlalchemy.engine.Engine COMMIT

INFO:     Started server process [21500]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)

INFO:     127.0.0.1:61636 - "GET /docs HTTP/1.1" 200 OK
INFO:     127.0.0.1:61636 - "GET /openapi.json HTTP/1.1" 200 OK
INFO:     127.0.0.1:61636 - "POST /ajax.php?v=1671744332617 HTTP/1.1" 404 Not Found
2022-12-23 04:25:52,883 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:52,884 INFO sqlalchemy.engine.Engine [cached since 26.25s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:25:52,888 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:52,889 INFO sqlalchemy.engine.Engine [cached since 26.26s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'products'}
2022-12-23 04:25:52,894 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:25:52,895 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:52,907 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `products`
2022-12-23 04:25:52,908 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:52,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:52,916 INFO sqlalchemy.engine.Engine
DROP TABLE products
2022-12-23 04:25:52,916 INFO sqlalchemy.engine.Engine [no key 0.00117s] {}
2022-12-23 04:25:52,925 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:52,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:52,930 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id BIGINT,
	product_name TEXT,
	category TEXT,
	sub_category TEXT
)


2022-12-23 04:25:52,930 INFO sqlalchemy.engine.Engine [no key 0.00096s] {}
2022-12-23 04:25:52,942 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:52,945 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:52,953 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, product_name, category, sub_category) VALUES (%(product_id)s, %(product_name)s, %(category)s, %(sub_category)s)
2022-12-23 04:25:52,954 INFO sqlalchemy.engine.Engine [generated in 0.00646s] ({'product_id': 1, 'product_name': 'Bush Somerset Collection Bookcase', 'category': 'Furniture', 'sub_category': 'Bookcases'}, {'product_id': 2, 'product_name': 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 'category': 'Furniture', 'sub_category': 'Chairs'}, {'product_id': 3, 'product_name': 'Self-Adhesive Address Labels for Typewriters by Universal', 'category': 'Office Supplies', 'sub_category': 'Labels'}, {'product_id': 4, 'product_name': 'Bretford CR4500 Series Slim Rectangular Table', 'category': 'Furniture', 'sub_category': 'Tables'}, {'product_id': 5, 'product_name': "Eldon Fold 'N Roll Cart System", 'category': 'Office Supplies', 'sub_category': 'Storage'}, {'product_id': 6, 'product_name': 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 'category': 'Furniture', 'sub_category': 'Furnishings'}, {'product_id': 7, 'product_name': 'Newell 322', 'category': 'Office Supplies', 'sub_category': 'Art'}, {'product_id': 8, 'product_name': 'Mitel 5320 IP Phone VoIP phone', 'category': 'Technology', 'sub_category': 'Phones'}  ... displaying 10 of 1850 total bound parameter sets ...  {'product_id': 1849, 'product_name': 'LG G2', 'category': 'Technology', 'sub_category': 'Phones'}, {'product_id': 1850, 'product_name': 'Eldon Jumbo ProFile Portable File Boxes Graphite/Black', 'category': 'Office Supplies', 'sub_category': 'Storage'})
2022-12-23 04:25:53,382 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,388 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:53,388 INFO sqlalchemy.engine.Engine [cached since 26.76s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:25:53,392 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:53,394 INFO sqlalchemy.engine.Engine [cached since 26.76s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'users'}
2022-12-23 04:25:53,397 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:25:53,398 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:53,402 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `users`
2022-12-23 04:25:53,403 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:53,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,407 INFO sqlalchemy.engine.Engine
DROP TABLE users
2022-12-23 04:25:53,407 INFO sqlalchemy.engine.Engine [no key 0.00099s] {}
2022-12-23 04:25:53,414 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,416 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,418 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	customer_id BIGINT,
	name TEXT,
	city TEXT,
	state TEXT,
	postal BIGINT
)


2022-12-23 04:25:53,418 INFO sqlalchemy.engine.Engine [no key 0.00085s] {}
2022-12-23 04:25:53,429 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,433 INFO sqlalchemy.engine.Engine INSERT INTO users (customer_id, name, city, state, postal) VALUES (%(customer_id)s, %(name)s, %(city)s, %(state)s, %(postal)s)
2022-12-23 04:25:53,434 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ({'customer_id': 1, 'name': 'Claire Gute', 'city': 'Fremont', 'state': 'Nebraska', 'postal': 68025}, {'customer_id': 2, 'name': "Sean O'Donnell", 'city': 'Provo', 'state': 'Utah', 'postal': 84604}, {'customer_id': 3, 'name': 'Brosina Hoffman', 'city': 'Keller', 'state': 'Texas', 'postal': 76248}, {'customer_id': 4, 'name': 'Andrew Allen', 'city': 'Harlingen', 'state': 'Texas', 'postal': 78550}, {'customer_id': 5, 'name': 'Irene Maddox', 'city': 'Kenner', 'state': 'Louisiana', 'postal': 70065}, {'customer_id': 6, 'name': 'Pete Kriz', 'city': 'Santa Ana', 'state': 'California', 'postal': 92704}, {'customer_id': 7, 'name': 'Alejandro Grove', 'city': 'Pharr', 'state': 'Texas', 'postal': 78577}, {'customer_id': 8, 'name': 'Zuschuss Donatelli', 'city': 'Taylor', 'state': 'Michigan', 'postal': 48180}  ... displaying 10 of 409 total bound parameter sets ...  {'customer_id': 408, 'name': 'Ricardo Emerson', 'city': 'Jackson', 'state': 'Michigan', 'postal': 49201}, {'customer_id': 409, 'name': 'Susan MacKendrick', 'city': 'Rogers', 'state': 'Arkansas', 'postal': 72756})
2022-12-23 04:25:53,509 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,514 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:53,515 INFO sqlalchemy.engine.Engine [cached since 26.88s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:25:53,519 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-23 04:25:53,520 INFO sqlalchemy.engine.Engine [cached since 26.89s ago] {'table_schema': 'penjualan_uzu', 'table_name': 'purchase'}
2022-12-23 04:25:53,523 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `penjualan_uzu`
2022-12-23 04:25:53,523 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:53,528 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `purchase`
2022-12-23 04:25:53,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-23 04:25:53,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,534 INFO sqlalchemy.engine.Engine
DROP TABLE purchase
2022-12-23 04:25:53,534 INFO sqlalchemy.engine.Engine [no key 0.00088s] {}
2022-12-23 04:25:53,541 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,544 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,545 INFO sqlalchemy.engine.Engine
CREATE TABLE purchase (
	date TEXT,
	name TEXT,
	product_name TEXT,
	quantity BIGINT
)


2022-12-23 04:25:53,546 INFO sqlalchemy.engine.Engine [no key 0.00128s] {}
2022-12-23 04:25:53,556 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-23 04:25:53,564 INFO sqlalchemy.engine.Engine INSERT INTO purchase (date, name, product_name, quantity) VALUES (%(date)s, %(name)s, %(product_name)s, %(quantity)s)
2022-12-23 04:25:53,565 INFO sqlalchemy.engine.Engine [generated in 0.00450s] ({'date': '25-10-2021', 'name': 'Matt Collins', 'product_name': 'Bevis 44 x 96 Conference Tables', 'quantity': 14}, {'date': '04-11-2020', 'name': 'Lena Cacioppo', 'product_name': 'HTC One Mini', 'quantity': 8}, {'date': '19-03-2022', 'name': 'Max Jones', 'product_name': 'Acco Suede Grain Vinyl Round Ring Binder', 'quantity': 8}, {'date': '08-04-2020', 'name': 'Dan Lawera', 'product_name': 'Global Deluxe High-Back Office Chair in Storm', 'quantity': 12}, {'date': '28-05-2020', 'name': 'Liz Preis', 'product_name': 'Avery Trapezoid Ring Binder, 3" Capacity, Black, 1040 sheets', 'quantity': 7}, {'date': '11-07-2020', 'name': 'James Galang', 'product_name': 'Tennsco Commercial Shelving', 'quantity': 11}, {'date': '18-01-2022', 'name': 'Nora Paige', 'product_name': '3-ring staple pack', 'quantity': 25}, {'date': '28-04-2020', 'name': 'Doug Bickford', 'product_name': 'Elite 5" Scissors', 'quantity': 14}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '05-03-2020', 'name': 'Shui Tom', 'product_name': 'Martin Yale Chadless Opener Electric Letter Opener', 'quantity': 18}, {'date': '12-10-2022', 'name': 'Keith Herrera', 'product_name': 'Advantus T-Pin Paper Clips', 'quantity': 13})
2022-12-23 04:25:53,738 INFO sqlalchemy.engine.Engine COMMIT
2022-12-23 04:25:53,743 INFO sqlalchemy.engine.Engine select * from purchase
2022-12-23 04:25:53,744 INFO sqlalchemy.engine.Engine [raw sql] {}
INFO:     127.0.0.1:61637 - "POST /tabel/Purchase HTTP/1.1" 200 OK